nav.navbar.navbar-default
	.container
		.navbar-header
			button.navbar-toggle(
				type='button' 
				data-toggle='collapse' 
				data-target='#navbar-top'
			)
				- for(var iBar = 0; iBar < 3; iBar++)
					span.icon-bar
		a.logo(href='#')
		.navbar-collapse.collapse#navbar-top
			ul.navbar-nav.navbar-fixed-left
				each item, index in ['Каталог компаний', 'Статьи','Новости','Органайзер']
					li
						if index == pageId
							a.active= item
						else
							a(href="#"): span= item

				li: a.btn.btn--pink.btn--sm(href='#') Аукцион

			
			if profileInfo
				.navbar-collapse__features.profile-info
					a.icon-search2.icon-search2--yellow(href='#')
					.profile-info__content
						.profile-info__avatar(style='background-image: url(img/_tmp/people-1.jpg)')
						.profile-info__name: span Дмитрий Крылов
			else	
				.navbar-collapse__features
					a.icon-search2(href='#')
					a.btn.btn--pink-border.btn--sm(href='#' data-toggle='modal' data-target='#modals' data-modal='#login') Вход
					a.btn.btn--pink-border.btn--sm(href='#' data-toggle='modal' data-target='#modals' data-modal='#sign-in') Регистрация