mixin featuresAbout(items)
	.clearfix
		.row
			each item in items
				.col-md-4.col-sm-6
					.features-about
						div.features-about__icon(class='icon-'+item.ico)
						.features-about__title= item.title
						.features-about__text= item.text