.features-about {
	height: 21.8rem;
	text-align: center;

	&__icon {
		font-size: 7.3rem;
		color: $color-purple;
		height: 10.5rem;

		&.icon-plove {
			font-size: 5.3rem;
		}
	}

	&__title {
		font-size: 16px;
		color: $color-purple;
		
	}

	&__text {
		@include muller-light;
		font-size: 12px;
		margin-top: 12px;
	}
}