.menu-features {
	background: $color-gray-light;
	text-align: center;
	padding: 3.75rem 0;

	ul {
		@include reset;
		@include clearfix;
		@include dib(top);

		li {
			float: left;
			
			@media(max-width: $screen-xs-max) {
				float: none;
				
				&+li {
					margin-top: 10px;
				}
			}
		}
	}

	&--sm {
		padding: 2.45rem 0;
		font-size: 16px;
	}

	&--white {
		color: $color-white;
	}

	&--yellow {
		background: $color-yellow;

		ul {
			li {
				.menu-features__btn {
					&:before {
						border-top-color: $color-black;
					}

					color: $color-black;
				}
			}
		}
	}

	&__title {
		@include muller;
		color: $color-black;
		margin-right: 1.8rem;
	}

	&__btn {
		@include muller-medium;
		color: $color-pink;
		font-size: 18px;
		padding: 0 33px;
		position: relative;

		&:before {
			@include after-before;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 5px solid $color-pink;
		    right: 17px;
		    top: 50%;
		    transform: translateY(-50%);
		}

		select {
			outline: none;
			appearance: none;
			border: 0;
			background: transparent;
			cursor: pointer;
		}
	}
}