mixin menu-features
	nav.menu-features(class= (attributes.color ? 'menu-features--'+attributes.color:''))
		ul
			li
				.menu-features__btn
					select
						each item in ['Выберите категорию','Фотографы','Ведущие']
							option= item
			li
				.menu-features__btn
					span.menu-features__title Ваш город: 
					select
						each item in ['Москва','Казань','Самара']
							option= item