.sort {
	margin-top: 3.9rem;
	border-bottom: solid 1px $color-pink;
	padding-bottom: 5px;
	font-size: 1.8rem;
	color: #8f8f8f;

	&__title {
		@include dib(top);
		color: $color-pink;
		margin: 0 2.9rem 5px 0;
	}

	&__links {
		@include dib(top);
	}

	&__link {
		color: #8f8f8f;
		margin-right: 12px;

		&--active {
			border-bottom: solid 1px #8f8f8f;
		}
	}
}