mixin sort
	.sort
		.sort__title Сортировка:
		.sort__links
			each item, index in ['А-Я,','Я-А,','рейтинг выше,','рейтинг ниже']
				a.sort__link(href='#' class= (index == 2 ? 'sort__link--active':''))= item