mixin text
	h4 Как выбрать фотографа на свадьбу в Москве?
	p В выборе фотографа, как и в любом подобном деле, важна система. Для начала рекомендуем найти каталог, где собраны лучшие представители свадебной индустрии. Если вы будет искать через поисковик или в соцсетях, то рискуете очень быстро утомиться. Гораздо проще икать в одном месте и просматривать только лучших представителей профессии. На The-wedding.ru все специалисты проходят модерацию перед тем, как их страница публикуется в каталоге, таким образом, мы предлагаем невестам признанных профессионалов в своей области.

	p Cледуйте следующей схеме поиска фотографа в каталоге:

	ul.list
		each item in ['Начните с просмотра портфолио. Если работы свадебного фотографа вам безоговорочно нравятся — это уже половина успеха.','Встретьтесь с фотографом лично. Обратите внимание, что на страничках специалистов в каталоге The-wedding.ru указаны все контактные данные. Также вы можете написать сообщение прямо на сайте. Уже после первой встречи вам станет понятно, сможете ли вы работать и плотно общаться с этим человеком в течение свадебного дня. Фотограф на свадьбу должен вызывать у вас только положительные эмоции.','Проведите предварительную фотосессию. Можно, например, снять love story. Так у вас будет шанс ещё лучше узнать выбранного профессионала и отрепетировать некоторые позы для свадебной фотосессии.','А вот отзывам в Интернете не всегда стоит доверять. Как положительные, так и отрицательные — они далеко не всегда правдивы. Ввиду большой конкуренции среди специалистов свадебного бизнеса, часто дело доходит до ложных отзывов. Поэтому обратить внимание на них, может, и стоит, но точно не нужно делать их главным ориентиром при выборе.']
			li= item

	p Выполнив эти пункты, вы с уверенностью сможете сказать, что выбрали для себя лучшего фотографа на свадьбу!
