@font-face {
    font-family: 'muller-bold';
    src: url('../fonts/muller/muller-bold.eot');
    src: url('../fonts/muller/muller-bold.eot?#iefix') format('embedded-opentype'),
         url("../fonts/muller/muller-bold.ttf?") format("truetype"),
         url('../fonts/muller/muller-bold.woff2') format('woff2'),
         url('../fonts/muller/muller-bold.woff') format('woff'),
         url('../fonts/muller/muller-bold.svg#muller-bold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




@font-face {
    font-family: 'muller-light';
    src: url('../fonts/muller/muller-light.eot');
    src: url('../fonts/muller/muller-light.eot?#iefix') format('embedded-opentype'),
         url("../fonts/muller/muller-light.ttf?") format("truetype"),
         url('../fonts/muller/muller-light.woff2') format('woff2'),
         url('../fonts/muller/muller-light.woff') format('woff'),
         url('../fonts/muller/muller-light.svg#muller-light') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




@font-face {
    font-family: 'muller-medium';
    src: url('../fonts/muller/muller-medium.eot');
    src: url('../fonts/muller/muller-medium.eot?#iefix') format('embedded-opentype'),
         url("../fonts/muller/muller-medium.ttf?") format("truetype"),
         url('../fonts/muller/muller-medium.woff2') format('woff2'),
         url('../fonts/muller/muller-medium.woff') format('woff'),
         url('../fonts/muller/muller-medium.svg#muller-medium') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




@font-face {
    font-family: 'muller';
    src: url('../fonts/muller/muller-regular.eot');
    src: url('../fonts/muller/muller-regular.eot?#iefix') format('embedded-opentype'),
         url("../fonts/muller/muller-regular.ttf?") format("truetype"),
         url('../fonts/muller/muller-regular.woff2') format('woff2'),
         url('../fonts/muller/muller-regular.woff') format('woff'),
         url('../fonts/muller/muller-regular.svg#muller') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/ico/icomoon.eot?l42z26');
    src:    url('../fonts/ico/icomoon.eot?l42z26#iefix') format('embedded-opentype'),
        url('../fonts/ico/icomoon.ttf?l42z26') format('truetype'),
        url('../fonts/ico/icomoon.woff?l42z26') format('woff'),
        url('../fonts/ico/icomoon.svg?l42z26#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\e91c";
}
.icon-star:before {
    content: "\e900";
}
.icon-star2:before {
    content: "\e901";
}
.icon-bookmark:before {
    content: "\e902";
}
.icon-cake:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-from:before {
    content: "\e905";
}
.icon-guest:before {
    content: "\e906";
}
.icon-insta:before {
    content: "\e907";
}
.icon-key .path1:before {
    content: "\e908";
    color: rgb(231, 188, 145);
}
.icon-key .path2:before {
    content: "\e909";
    margin-left: -0.8359375em;
    color: rgb(28, 22, 55);
}
.icon-microphone:before {
    content: "\e90a";
}
.icon-nophoto:before {
    content: "\e90b";
}
.icon-ok:before {
    content: "\e90c";
}
.icon-bubble:before {
    content: "\e90d";
}
.icon-photo:before {
    content: "\e90e";
}
.icon-place:before {
    content: "\e90f";
}
.icon-plove:before {
    content: "\e910";
}
.icon-search:before {
    content: "\e911";
}
.icon-portmone:before {
    content: "\e912";
}
.icon-profi:before {
    content: "\e913";
}
.icon-star-tr:before {
    content: "\e914";
}
.icon-ptime:before {
    content: "\e915";
}
.icon-speech-bubble:before {
    content: "\e916";
}
.icon-support:before {
    content: "\e917";
}
.icon-support-call:before {
    content: "\e918";
}
.icon-vk:before {
    content: "\e919";
}
.icon-yes:before {
    content: "\e91a";
}
.icon-search2:before {
    content: "\e91b";
}
.icon-arrow-left:before {
    content: "\e91d";
}