.footer {
	margin-top: 6.6rem - 4.2;
	margin-bottom: 6.6rem;
	font-size: 14px;

	&__menu {
		@include clearfix;
		margin-bottom: 3.5rem;
		border-top: solid 2px $color-pink-light;
		border-bottom: solid 2px $color-pink-light;

		ul {
			@include reset;
			float: left;

			@media(max-width: $screen-xs-max) {
				float: none;
				width: 100%;
			}

			li {
				float: left;

				@media(max-width: $screen-xs-max) {
					float: none;
				}

				a {
					display: block;
					font-size: 14px;
					padding: 1.85rem 0;
				}

				&+li {
					margin-left: 5.9rem;

					@media(max-width: $screen-xs-max) {
						margin-left: 0;
					}
				}
			}
		}
	}
	
	&__phone {
		float: right;
		padding: 1.85rem 0;
	}

	&__content {
		@include clearfix;

		&--mr-horizontal {
			margin-top: 4.5rem;

			@media(max-width: $screen-xs-max) {
				margin-top: 1.5rem;
			}
		}

		@media(max-width: $screen-xs-max) {
			[class^='col-'] {
				text-align: center;
				margin-bottom: 1.5rem;
			}
		}
	}

	&__text {
		font-size: 14px;
		color: #8f8f8f;
		line-height: 1.3;
	}

	@media(max-width: $screen-xs-max) {
		.social {
			margin-top: 1.5rem;
			text-align: center;
		}
	}
}

.dev {
	@include muller-medium;
}