@import "top-menu";

.top-panel {
	@include clearfix;
	padding: 13px 0 10px 0;
	font-size: 14px;
	background: $color-white;

	&__date {
		float: left;
	}

	&__time {
		margin-left: 18px;
	}

	&__phone {
		float: right;
		color: $color-blue-dark;
	}
}

.promo {
	@include img-cover;
	overflow: hidden;
	position: relative;
	height: 46.3rem;
	text-align: center;
	z-index: 3;

	&__content {
		@include center;
		padding: $padding;
		width: 100%;
	}

	&__brand {
	}

	&__logo {
		@include sprite($logo);
		margin: 0 auto;

		&-title {
			@include sprite($logo-title);
			margin: 16px auto 0 auto;
		}
	}

	&__text {
		@include muller-bold;
		@include uppercase;
		font-size: 3rem;
		color: $color-yellow;
		letter-spacing: .02rem;
		margin-top: 6.4rem;
		margin-bottom: 6rem;
		text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.18);

		@media(max-width: $screen-sm-max) {
			br {
				display: none;
			}
		}

		@media(max-width: $screen-xs-max) {
		    font-size: 2.3rem;
		    margin-top: 2.4rem;
		    margin-bottom: 2rem;
		    line-height: 1.4;
		}
	}

	@media(max-width: $screen-xs-max) {
		.btn {
			margin-bottom: 10px;
		}
	}
}