// fonts
@mixin muller {
	font-family: 'muller', sans-serif;
}

@mixin muller-bold {
	font-family: 'muller-bold', sans-serif;
}

@mixin muller-light {
	font-family: 'muller-light', sans-serif;
}

@mixin muller-medium {
	font-family: 'muller-medium', sans-serif;
}

// center just
@mixin center-just {
	left: 0;
	right: 0;
	margin: 0 auto;
}

// text uppercase
@mixin uppercase {
	text-transform: uppercase;
}

// img center
@mixin img-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// img property
@mixin img-cover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// center
@mixin center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

// link block
@mixin link-block {
	@include size(100%,100%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
}

// img center
@mixin img-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// white ul
@mixin white-ul {
	ul {
		@include reset;
		margin-left: 21px;

		li {
			position: relative;
			line-height: 22px;
			margin-bottom: 10px;

			&:before {
				@include after-before;
				@include size(7px,7px);
				top: 5px;
				left: -20px;
				border-radius: 100%;
				background-color: #fff;

			}

			a {
				color: #fff;
				border-bottom: solid 1px rgba(255, 255, 255, 0.2);
			}
		}
	}
}

// reset
@mixin reset {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@mixin reset-just {
	padding: 0;
	margin: 0;
}

// display inline block
@mixin dib($va) {
	display: inline-block;
	vertical-align: $va;
}

// placeholder
@mixin placeholder($color) {
	&::-webkit-input-placeholder {color: $color;}
	&::-moz-placeholder          {color: $color;}
	&:-moz-placeholder           {color: $color;}
	&:-ms-input-placeholder      {color: $color;}
}

// absolute h center
@mixin abs-center {
	left: 0;
	right: 0;
	margin: 0 auto;
}

// after display none
@mixin after-none {
	&:after {
		display: none;
	}
}

// after, before
@mixin after-before {
	content: " ";
	position: absolute;
}

// transition for links
@mixin transition {
	transition: color .3s,
				opacity .3s,
				background-color .3s
	;
}

// outline none
@mixin outline {
	outline: none;
}

// inline-block
@mixin dib($align) {
	display: inline-block;
	vertical-align: $align;
}

// nav
// nav reset – full width
@mixin ul-reset {
	width: 100%;
	display: table;
}
@mixin li-reset($type) {
	list-style-type: none;
	@if $type == float { float: left; }
	@else if $type == cell { display: table-cell; vertical-align: top; float: none; }

}