/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$logo-sm-name: 'logo-sm';
$logo-sm-x: 0px;
$logo-sm-y: 27px;
$logo-sm-offset-x: 0px;
$logo-sm-offset-y: -27px;
$logo-sm-width: 42px;
$logo-sm-height: 42px;
$logo-sm-total-width: 167px;
$logo-sm-total-height: 138px;
$logo-sm-image: '../img/sprite.png';
$logo-sm: (0px, 27px, 0px, -27px, 42px, 42px, 167px, 138px, '../img/sprite.png', 'logo-sm', );
$logo-title-name: 'logo-title';
$logo-title-x: 0px;
$logo-title-y: 0px;
$logo-title-offset-x: 0px;
$logo-title-offset-y: 0px;
$logo-title-width: 167px;
$logo-title-height: 24px;
$logo-title-total-width: 167px;
$logo-title-total-height: 138px;
$logo-title-image: '../img/sprite.png';
$logo-title: (0px, 0px, 0px, 0px, 167px, 24px, 167px, 138px, '../img/sprite.png', 'logo-title', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 72px;
$logo-offset-x: 0px;
$logo-offset-y: -72px;
$logo-width: 67px;
$logo-height: 66px;
$logo-total-width: 167px;
$logo-total-height: 138px;
$logo-image: '../img/sprite.png';
$logo: (0px, 72px, 0px, -72px, 67px, 66px, 167px, 138px, '../img/sprite.png', 'logo', );
$spritesheet-width: 167px;
$spritesheet-height: 138px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($logo-sm, $logo-title, $logo, );
$spritesheet: (167px, 138px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
