.navbar-default {
	@include reset-just;
	background: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 3px 14px 7px rgba(0, 0, 0, 0.06);
	position: relative;
    z-index: 2;

	padding: 1.3rem 0 1.3rem;
    height: 7rem;
    min-height: auto; 

	#navbar-top {
		text-align: center; 
		padding: 0 0 14px;


		@media(max-width: $screen-sm-max) {
			margin: 10px -20px 0px;
    		background: $color-white;
		}
	}

	.navbar-toggle {
		margin: 0;
		border-radius: 0;
		border: 0;
		margin-top: 5px;
		&:hover, &:focus {
			background: transparent;
		}
		
		.icon-bar {
			border-radius: 3px;
			height: 3px;

			&+.icon-bar {
				margin-top: 5px;
			}
		}
	}

	.logo {
		@include sprite($logo-sm);
		display: block;
		float: left;

		@media(max-width: $screen-sm-max) {
			position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		}
	}

	.navbar-nav {
		@include reset;
	    position: relative;
	    margin-left: 46px - 21;

	    @media(max-width: $screen-sm-max) {
	    	margin-left: 0;
	    }

	    li {
	    	font-size: 14px;

	    	a {
	    		color: $color-pink;
	    		font-size: 14px;
	    		display: block;
	    		padding: 12px 21px 10px;

	    		&.btn {
    				margin-top: 9px;
    				margin-left: 14px;

    				@media(max-width: $screen-sm-max) {
    					margin-left: 0;
    				}
	    		}
	    	}
	    }
	}

	.navbar-collapse {
		.icon-search2 {
			font-size: 22px;
		    display: inline-block;
		    vertical-align: middle;
		    color: $color-purple;
		    margin-right: 35px - 4;
		}

		&__features {
			margin-top: 9px;
			float: right;

			@media(max-width: $screen-sm-max) {
				float: none;
			}

			.btn {
				margin: 0 4px;
			}
		}
	}
}

.inner {
	.navbar-default {
		box-shadow: 0px 3px 16px 7px rgba(0, 0, 0, 0.04);
	}
}