// colors
$color-pink: #ba5f89;
$color-pink-light: #b53e68; 
$color-yellow: #e7bc91;
$color-yellow-light: #ede2c6;
$color-purple: #825482;
$color-blue-dark: #1c1637;
$color-white: #fff;
$color-gray-light: #f2f2f2;
$color-gray: #4b4b4b;
$color-gray-dark: #cccccc;
$color-black: #000;

// indents
$padding: 20px;
$padding-news: 3.6rem;

// width
$right-pd-left: 31px;
$right-width: 221px + $right-pd-left;

$right-sm-pd-left: 5px;
$right-sm-width: 215px + $right-sm-pd-left;