@import "fonts";
@import "sprite";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "variables";
@import "mixins";

html {
	font-size: 62.5%;
}

@media(max-width: $screen-sm-max) {
	html {
		font-size: 45%;
	}	
}

body {
	@include muller;
	font-size: 14px;
	color: $color-blue-dark;
	line-height: 1.2;
}

a {
	@include transition; 
	color: $color-blue-dark;

	&.purple {
		color: $color-purple;

		&.line {
			border-color: lighten($color-purple, 30) !important;
		}
	}

	&.line, .line {
		border-bottom: solid 1px $color-blue-dark;
	}

	&:hover, &:focus {
		color: $color-purple;
		text-decoration: none;

		.line {
			border-bottom-color: $color-purple; 
		}
	}
}

.link {
	&--pink {
		color: $color-pink;
	}
}

.show-hide {
	color: $color-purple;
	cursor: pointer;

	&__line {
		border-bottom: solid 1px $color-purple;
	}
}

.table-wrapper {
	@media(max-width: $screen-xs-max) {
		overflow-y: hidden;
		overflow-x: scroll;
	}
}

.table-features {
	@include muller-medium;
	font-size: 14px;

	tr {
		td {
			vertical-align: top;
			line-height: 1.2;
			padding-bottom: 15px;

			&:nth-of-type(1) {
				white-space: nowrap;
				@include uppercase;
				padding-right: 25px;

			}

			&:nth-of-type(2) {
				font-size: 16px;
			}

			@media(max-width: $screen-xs-min) {
				display: block;

				&:nth-of-type(2) {
					padding-bottom: 30px;
				}
			}
		}
	}

	&__price {
		@include muller-bold;
		color: $color-pink;
	}
}

h1 {
	@include muller-bold;
	font-size: 2.1rem;
	color: $color-pink;

	span {
		@include dib(middle);
		@include muller-medium;
		color: $color-blue-dark;
		font-size: 14px;
		margin-right: 16px;
	}
}

.bold {
	@include muller-medium;
}

.h1 {
	@extend h1;

	&--m-null {
		margin: 0;
	}

	&--lg {
		@include muller-bold;
		@include uppercase;
		font-size: 2.4rem;
		margin: 0 0 1.7rem;
		color: $color-black;
		line-height: 1.4;
	}

	&--pink {
		color: $color-pink;
	}

	&--yellow {
		color: $color-yellow;
	}

	&--black {
		color: $color-black;
	}

	&--line {
		border-bottom: solid 2px;
	    margin: 0;
	    padding-bottom: 6px;
	    margin-bottom: 3.9rem;
	}

	&--mb-sm {
		margin-bottom: 3.2rem;
	}

	&--mb-xs {
		margin-bottom: 1.6rem;
	}

	&--m-xs {
		margin-top: 1.9rem;
		margin-bottom: 1.6rem;
	}

	&--sm {
		@include muller-medium;
		@include uppercase;
		font-size: 14px;
		color: $color-black;
	}

	&--bold {
		@include muller-bold;
	}

	&--md {
		@include muller-medium;
		font-size: 18px;
	}

	&--md-2 {
		@include muller-medium;
		font-size: 16px;
	}

	&--m-tb {
		margin-top: 4.3rem;
		margin-bottom: 4.3rem;
	}
}

h2, .h2 {
	@extend h1;
}

h3 {
	@include muller-medium;
	font-size: 2.1rem;
	line-height: 1.2;
}

h4 {
	@include muller-bold;
	@include uppercase;
	font-size: 16px;
	margin-bottom: 2.1rem;
}

.h4 {
	@extend h4;
}

.hr {
	&--article {
		margin: 2rem (-$padding-news);
		height: 2px;
		background: $color-white;
	}

	&--white {
		border-color: $color-white;
	}
	
	&--gray {
		height: 1px;
		background: $color-gray-dark;
	}

	&--indent-xs {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&--indent-sm {
		margin-top: 1.3rem;
		margin-bottom: 1.3rem;
	}

	&--indent-md {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	&--indent-lg {
		margin-top: 3.8rem;
		margin-bottom: 3.8rem;
	}
}

ul, p {
	font-size: 14px;
}

ul {
	&.list {
		@include reset;

		li {
			position: relative;
			padding-left: 3.2rem;
			margin-bottom: 1.3rem;

			&:before {
				@include after-before;
				@include size(2px,2px);
				border-radius: 100%;
				background: $color-black;
				left: 0;
    			top: 5px;
			}	
		}

		&--line {
			text-align: left;

			li {
				padding-left: 10px;
				margin-bottom: 9px;

				&:before {
					@include size(5px,1px);
    				top: 7px;
				}
			}
		}	
	}
}

p {
	margin-bottom: 1.8rem;
	line-height: 1.3;
}

.p {
	&--md {
		@include muller-medium;
		font-size: 18px;
		line-height: 1.3;
	}

	&--bold {
		@include muller-medium;
	}

	&--fz-sm {
		font-size: 12px;
	}

	&--sm {
		font-size: 16px;
	}

	&--pink {
		color: $color-pink;
	}

	&--italic {
		font-style: italic;
	}

	&--gray {
		color: #8f8f8f;
	}

	&--indent {
		margin: $padding-news 0;
	}

	&--indent-sm {
		margin-bottom: 1.1rem;
	}

	&--quo {
		padding-left: 8.7rem;
		position: relative;
		margin: 2.9rem 0;

		&:before {
		    font-family: Arial;
		    content: '\201C';
		    position: absolute;
		    font-size: 20rem;
		    left: -2rem;
		    line-height: 1;
		    top: -1.5rem;
		}
	}
}

.wh {
	width: 100%;
	height: 100%;
}

.container {
	padding-left: $padding;
	padding-right: $padding;
	max-width: 1011px + 40;
	width: 100%;
}

.container-sm {
	margin: 0 auto;
	max-width: 881px;
}

// two columns
.wrapper {
	margin-top: 6.2rem;
	width: 100%;

	&--lg {
		margin-top: 7.6rem;
	}

	&--sm {
		margin-top: 4.4rem;
	}

	&--xs {
		margin-top: 3.8rem;
	}

	&--md-tb {
		margin: 4rem 0;
	}
}

.left, .right {
	float: left;
}

.left {
	width: 100%;

	&__content {
		margin-right: $right-width;

		&--switch {
			margin-right: 0;
			margin-left: $right-width;
		}

		&--sm {
			margin-right: $right-sm-width;

			&.left__content--switch {
				margin-right: 0;
				margin-left: $right-sm-width;
			}
		}
	}
}

.right {
	position: relative;
	z-index: 1;
	width: $right-width;
	margin-left: -$right-width;
	padding-left: $right-pd-left;

	&--switch {
		margin-left: 0;
		margin-right: -$right-width;
		padding-left: 0;
		padding-right: $right-pd-left;
	}

	&--sm {
		width: $right-sm-width;
		margin-left: -$right-sm-width;
		padding-left: $right-sm-pd-left;
		
		&.right--switch {
			margin-left: 0;
			margin-right: -$right-sm-width;
			padding-left: 0;
			padding-right: $right-sm-pd-left;
		}
	}
}

@media(max-width: $screen-xs-max) {
	.left, .right {
		float: none;
	}

	.left {
		&__content {
			margin-right: 0 !important;

			&--switch {
				margin-left: 0 !important;
			}
		}
	}

	.right {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;

		&--switch {
			margin: 0 !important;
			padding: 0 !important;
		}

		&--sm {
			&.right--switch {
				margin-bottom: $padding !important;
			}
		}
	}
}

.block {
	margin-bottom: 4.2rem;

	&--profile {
		padding: 3.9rem $padding-news;
	}

	&--gray {
		background: $color-gray-light;
	}

	&--article {
		padding: 2.9rem $padding-news;
	}

	&--slim {
		max-width: 533px;
		margin-left: auto;
		margin-right: auto;
	}
}

.grid {
	@include make-row;
}

.grid-item {
	@include make-xs-column(12);
	@include make-sm-column(6);
	@include make-md-column(4);
	height: 19rem;
	padding-bottom: 20px;

	&__img {
		@include img-cover;
		@include size(100%,100%);
	}

	&--width2 {
		height: (19 * 2)+rem;

	}

	@media(max-width: $screen-xs-max) {
		height: 165px;

		.collections__photo {
			height: (165 - $padding) !important;
		}
	}

}

.btn-group {
	&--border {
		.btn {
			border: solid 1px $color-black;
		}
	}

	@media(max-width: $screen-xs-min) {
		.btn {
			width: 100%;
		    border-radius: $padding !important;
		    padding-left: 0;
		    padding-right: 0;
		    border: 0;
		    float: none;
		    text-align: center;
		    margin-bottom: 5px;
		}
	}
}

.btn {
	outline: none !important;
	position: relative;
	font-size: 14px;
    padding: 8px 20px;
    color: $color-white;
    border-radius: 20px;
    transition: background .3s linear, color .3s linear;

    &:hover, &:focus {
    	background: $color-purple !important;
    	color: $color-white !important;
    }

    &__count {
    	position: absolute;
    	top: -9px;
    	right: -38px;

    	&-text {
    		@include center;
    		color: #666666;
    		font-size: 12px;
    		position: absolute;
    		margin-top: -4px;
    	}
    }

    input {
    	&[type='file'] {
    		@include size(100%,100%);
    		position: absolute;
    		top: 0;
    		left: 0;
    		opacity: 0;

    		&+label {
    			margin: 0;
    		}
    	}
    }

    &--mrr {
    	margin-right: 38px;
    }

    &--single-sm {
    	margin-top: 1rem;
    }

    &--color-black {
    	color: $color-black;
    }

    &--fz-xs {
    	font-size: 10px;
    }

    &--fz-sm {
    	font-size: 12px !important;
    }

    &--fz-lg {
    	font-size: 16px;
    }

	&--sm {
		padding: 3px 17px 2px !important;
	}

	&--sm-2 {
		padding: 6px 22px 5px 22px !important;
	}

	&--sm-3 {
		padding: 6px 20px 4px 20px;
		min-width: 150px;
	}

	&--sm-4 {
		padding: 7px 20px 5px 20px;
		min-width: 120px;
	}

	&--xs-2 {
		padding: 5px 19px 6px !important;
	}

	&--xs {
		font-size: 12px;
		padding: 4px 25px 3px !important;
	}

	&--md {
		padding: 7px 20px 5px 34px;

		&+.btn--md {
			padding-right: 34px;
			padding-left: 20px;
		}
	}

	&--lg {
		font-size: 16px;
		min-width: 190px;
	}

	&--gray {
		background: $color-gray-dark;
	}

	&--purple {
		background: $color-purple;
	}

	&--yellow {
		background: $color-yellow;
	}

	&--pink {
		background: $color-pink;
		color: $color-white !important;
	}

	&--pink-border {
		border-color: $color-pink;
		color: $color-pink;
	}

	&--purple-border {
		border-color: $color-purple;
		color: $color-purple;
		background: transparent;
	}

	&--gray-border {
		border-color: #666666;
		color: #666666;
		background: transparent;
	}

    &--mr-h {
    	 margin: 0 9px 0;
    	 border: solid 1px $color-white;
    }

    &--single {
    	margin-top: 4.9rem;

    	&-md {
    		margin-top: 4.2rem;
    	}
    }

	&--select {
		padding: 0;

		&:hover {
			&:before {
    			border-top-color: $color-blue-dark;
    		}
		}

		&:before {
			@include after-before;
			width: 0; 
			height: 0; 
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 5px solid $color-white;
		    right: 20px;
		    margin-top: 2px;
		    top: 50%;
		    transform: translateY(-50%);
		}

		select {
			cursor: pointer;
			position: relative;
			z-index: 1;
		    appearance: none;
		    background: transparent;
    		outline: none;
    		display: block;
		    border: 0;
		    padding: 9px 44px 7px 32px;

		    &::-ms-expand {
		    	display: none;
		    }
		}

		&-sm {
			&:before {
				border-left: 4px solid transparent !important;
			    border-right: 4px solid transparent !important;
			    border-top: 4px solid #666666 !important;
			    right: 10px !important;
			    margin-top: 0px !important;
			}
		}
	}

	&--purple {
		background: $color-purple;
	}
}

.required {
	span {
		font-size: 21px;
		color: $color-pink;
	}
}

[class^='col-'] {
	&.bb {
		margin-bottom: 3.9rem;
		border-bottom: solid 2px $color-gray-light;
	}
}

.icon {
	&-yes {
		font-size: 41px;
    	line-height: .39;
    	color: $color-pink;
	}

	&-speech-bubble {
		font-size: 27px;
		color: #666666;
	}

	&-search2 {
		&--yellow {
			color: $color-yellow !important;
		}
	}

	&-bookmark {
		&--purple {
			color: $color-purple;
		}
	}

	&-bookmark-wrapper {
		position: relative;
	    width: 27px;
	    display: inline-block;

	    .icon-bookmark {
	    	font-size: 40px;
		    position: absolute;
		    top: -20px;
		    left: -1px;
	    }
	}
}

.stars {
	color: $color-pink-light;

	[class^='icon-'] {
		&+[class^='icon-'] {
			margin-left: 3px;
		}
	}

	&--sm {
		[class^='icon-'] {
			font-size: 9px;
		}
	}
}

@import "header";
@import "../components/**";
@import "footer";