.collections {
	position: relative;
	margin-bottom: $padding;

	&--plus {
		.collections__photo {
			border: dashed 1px $color-black;

			&:before, .collections__text {
				@include center;
			}

			&:before {
				@include muller-light;
				content: '+';
				position: absolute;
				font-size: 70px;
			}
		}
	}

	&__text {
		position: absolute;
		font-size: 12px;
		width: 100%;
	    text-align: center;
	    margin-top: 30px;
	}

	&__photo {
		@include img-cover;
		height: 165px;
		position: relative;
	}

	&__content {
		margin-top: 14px;
	}

	&__title {
		@include muller-medium;
		font-size: 14px;
	}

	&__count {
		margin-top: 7px;
		font-size: 12px;
	}

	a {
		display: block;
	}
}