mixin collections(items)
	.clearfix
		.row
			.col-md-4.col-sm-6
				.collections.collections--plus
					.collections__photo
						.collections__text Создать коллекцию

			each item in items
				.col-md-4.col-sm-6
					.collections
						a(href='#')
							.collections__photo(style='background-image: url(img/_tmp/slider-1.jpg)')
							.collections__content
								.collections__title= item.title
								.collections__count= item.count