.steps {
	@include reset;
	@include clearfix;
	@include dib(top);
	counter-reset: steps;

	&__item {
		float: left;
		position: relative;

		&+.steps__item {
			margin-left: 5.5rem;

			&:after {
				@include after-before;
				@include size(90%,1px);
				top: 2.1rem;
	    		left: -70%;
			}

			&--checked {
				&:after {
					background: $color-yellow;
				}
			}

			&--active {
				&:after {
					background: #959595;
				}
			}
		}

		&:before {
			@include size(4.3rem,4.3rem);
			@include muller-medium;
			font-size: 1.8rem;
			counter-increment: steps;
    		content: counter(steps);
    		display: block;
    		border-radius: 100%;
    		padding: 1.2rem 0;
    		text-align: center;
    		margin: 0 auto;
		}

		&--checked {
			&:before {
				background: $color-yellow;
				color: $color-white;
			}
		}

		&--active {
			&:before {
				border: solid 1px #959595;
				color: #959595;
			}
		}

		@media (max-width: 600px) {
			float: none;
			width: 100%;
			margin-left: 0 !important;
			margin-bottom: 2rem;

			&+.steps__item {
				&:after {
					@include center-just;
					top: -1rem !important;
					// display: none !important;
				}
			}
		}
	}

	&__text {
		@include muller-medium;
		font-size: 12px;
		width: 100%;
		max-width: 113px;
		text-align: center;
		margin-top: 8px;
	}
}