.contacts {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 100%;

	&__text {
		@include muller-medium;
		font-size: 16px;
	}

	&__email {
		margin-top: 2.1rem;

		a {
			@include muller-medium;
			color: $color-pink;
			font-size: 16px;
		}
	}
}

.col-6-sm {
	@media(min-width: $screen-sm-min) {
		@include dib(top);
		width: 49%;
		padding-left: $padding/2;
		padding-right: $padding/2;		
	}

	margin-bottom: $padding;
}

.flex {
	@media(max-width: $screen-sm-max) {
		margin: 0 !important;
	}

	@media(min-width: $screen-md-min) {
		display: flex;

		[class^='col-'] {
			float: none;
		}
	}
}