mixin contacts(items)
	.clearfix
		.row.flex
			each item in items
				.col-6-sm
					.contacts
						.contacts__text!= item.text
						.contacts__email
							a(href='mailto:'+item.email)= item.email
