mixin auction
	.clearfix
		each item in [{title:'Требуется ресторан для проведения свадьбы на 150 человек',lot:'Лот 128',category:'Банкетный зал'},{title:'Требуется ресторан для проведения свадьбы на 150 человек',lot:'Лот 128',category:'Банкетный зал'},{title:'Требуется ресторан для проведения свадьбы на 150 человек',lot:'Лот 128',category:'Банкетный зал'},{title:'Требуется ресторан для проведения свадьбы на 150 человек',lot:'Лот 128',category:'Банкетный зал'},{title:'Требуется ресторан для проведения свадьбы на 150 человек',lot:'Лот 128',category:'Банкетный зал'},]
			.row
				.col-md-6.bb
					.article.article--yellow.article--auction
						time 23 мая
						.article__title.article__title--bold
							span.article__lot= item.lot
							=item.title

						.people-item__category= item.category
						.clearfix
							.article__price.pull-left от 50 000
							.btn.btn--mrr.btn--fz-sm.btn--pink.pull-right Учавствовать
								.btn__count
									span.icon-speech-bubble
									span.btn__count-text 10

				.col-md-6.bb
					.article.article--yellow.article--auction
						time 23 мая
						.article__title.article__title--bold
							span.article__lot= item.lot
							=item.title

						.people-item__category= item.category
						.clearfix
							.article__price.pull-left  от 50 000
							.btn.btn--mrr.btn--fz-sm.btn--pink.pull-right Учавствовать
								.btn__count
									span.icon-speech-bubble
									span.btn__count-text 5