.table-features {
	margin-bottom: 3rem;

	&__photo, &__content {
		@include dib(top);
	}

	&__photo {
		@include size(62px,62px);
		@include img-cover;

		img {
			@include img-responsive;
		}
	}

	&__content {
		@include muller;
		margin: 9px 0 0 (17-5)+px;
	}

	&__name {
		font-size: 14px;
		margin-bottom: 2px;
	}

	&__link {
		display: block;
		color: $color-black !important;
		border: 0 !important;
	}
}