mixin tableFeatures(items)
	.clearfix
		.row
			.col-md-9
				.row
					each item in items
						.col-md-6
							.table-features
								a.table-features__link(href='#')
									.table-features__photo(style='background-image: url(img/_tmp/people-1.jpg)')
									.table-features__content
										.table-features__name= item.name
										if item.stars
											.stars.stars--sm
												- for (var i = 1; i <= item.stars; i++)
													span.icon-star
