mixin catalogue-item
	.catalogue-item
		.clearfix
			.col-sm-2.col-xs-3
				.catalogue-item__img
					img(src='img/_tmp/item-logo.jpg' alt='')

			.col-sm-8.col-xs-9
				.catalogue-item__features
					.catalogue-item__category Декор свадьбы
					.catalogue-item__title 
						.catalogue-item__text Fleurage Decor<br>г. Москва
						.catalogue-item__stars
							.stars
								- for (var i = 1; i <= 5; i++)
									span.icon-star
					.catalogue-item__info
						.catalogue-item__phone +7 (900) 821-23-45
						.catalogue-item__address г. Москва, ул. Декабристов, д.2, к.2.

					.catalogue-item__net
						.catalogue-item__site
							a.link--pink(href='#') www.fdecor.ru
						.catalogue-item__social
							+social(sm = true)

			.col-md-2.col-sm-12
				.row
					.text-right
						button.btn--mr-h.btn.btn--xs.btn--pink(data-modal-own={position:'top', modal:'#message'}) Сообщение

						button.btn--mr-h.btn.btn--xs.btn--pink Выбрать


		.catalogue-item__description Декоратор — это один из самых главных организаторов Вашего торжества, ведь именно его работа будет запечатлена на Ваших фотографиях. И, спустя много лет, глядя на фото со свадьбы, Вам не должно хотеться.
			.hide
				p Предоставляемые услуги: МЫ ЗАНИМАЕМСЯ ПОЛНЫМ ДЕКОРАТИВНЫМ ОФОРМЛЕНИЕМ МЕРОПРИЯТИЙ ЛЮБОЙ СЛОЖНОСТИ!

				p Мы можем оформить:
				ul
					each item in ['свадьбу','корпоратив','юбилей или день рождения','детский праздник','девичник/мальчишник']
						li= item

				p Мы работаем:
				ul
					each item in ['профессионально (полное сопровождение проекта: личный менеджер проекта,дизайн-проект, эскизы, макеты, смета и проч.)','качественно (опыт более 4 лет)','быстро (на связи 24 часа в сутки, выездной менеджер, офис в пределах ТТК)','экономично (оптимизация затрат в рамках бюджета клиента)']
						li= item

				p В своей работе мы используем как живые, так и искусственные цветы, имеем возможность изготовления декораций специально для Вашего мероприятия, разрабатываем дизайн-проекты, концепции и предоставляем Вам макеты. м.Отрадное, м.Кузнецкий мост

				table.table-features
					tbody
						tr
							td Средний чек:
							td.table-features__price 50 000 руб.

						tr
							td Зона оформления:
							td Зал банкета, Столы и стулья на банкете, Место бракосочетания, Транспорт, Дом невесты, Фотосессия

						tr
							td Тип оформления:
							td Цветами, Шарами, Тканью, Свечами, Другое

						tr
							td Заказы под ключ:
							td: span.icon-yes

			span.show-hide(data-text={show:'Показать описание',hide:'Свернуть описание'}): span.show-hide__line Показать описание

