.catalogue-item {
	&--profile {
		@media(min-width: $screen-md-min) {
			[class^='col-'] {
				@include dib(top);
				float: none;
			}
			
			.col-sm-2.col-xs-3 {
				@media(min-width: $screen-md-min) {
					width: 140px;
				}
			}
		}

		.catalogue-item__info > * {
			vertical-align: middle !important;
		}
	}

	&--profile-edit {
		@extend .catalogue-item--profile;

		input, select {
			font-size: 14px;
		}

		.col-sm-2.col-xs-3 {
			@media(min-width: $screen-md-min) {
				width: 154px;
			}
		}
	}

	&__category {
		font-size: 12px;
		color: #4b4b4b;
	}

	p, ul {
		font-size: 12px;
	}

	&__title {
		margin-top: 5px;
		line-height: 1.5;
	}

	&__features {
		padding-left: (31 - 10)+px;
	}

	&__text {
		@include muller-medium;
		font-size: 16px;
		margin: 0 18px 14px 0;

	}

	&__stars {
		margin-bottom: 19px;
	}

	&__phone, &__address, 
	&__stars, &__text {
		@include dib(top);
	}

	&__site, &__social {
		@include dib(bottom);
		margin-bottom: 10px;
	}

	&__phone, &__site {
		width: 170px;
		margin-right: 8px;
	}

	&__info {
		margin-bottom: 13px;
	}

	&__img {
		@include make-row;

		img {
			width: 100%;
			// @include img-responsive;

			&+.btn {
				margin-top: 24px;
			} 
		}

		.btn {
			width: 100%;
		}

		p {
			margin-top: 14px;
			font-size: 11px;
			color: #656565;
			line-height: 1.7;
		}
	}

	&__description {
		font-size: 12px;
		margin-top: 27px;
		line-height: 1.4;
	}

	.hide {
		margin-top: 5px;
	}

	.btn {
		@media(max-width: $screen-sm-max) {
			margin-top: 20px;
		}

		margin-right: 15px;
	}

	@media(max-width: $screen-xs-min) {
		[class^='col-'] {
			width: 100%;
			margin-left: -10px;
			margin-right: -10px;
		}

		&__img {
			margin-bottom: 30px;
		}

		&__features {
			padding-left: 0;
		}
	}
}