.tabs {
	@include muller-medium;
	margin-top: 37px;

	&__list {
		@include clearfix;
		@include reset;
	}

	&__title {
		margin: 0;
	}

	&__content {
		margin-top: 4.3rem;

		&-item {
			display: none;

			&--active {
				display: block;
			}
		}
	}

	&__item {
		float: left;
		cursor: pointer;

		span {
			border-bottom: solid 2px transparent;
			transition: border .3s linear;
		}

		&+.tabs__item {
			margin-left: 43px;
		}

		@media(max-width: $screen-xs-max) {
			float: none;

			&+.tabs__item {
				margin-left: 0;
			}

			padding: 10px;
			text-align: center;
		}

		&--active {
			span {
				padding-bottom: 3px;
				border-bottom: solid 2px;
			}
		}
	}

	&__prices {
		@include reset;

		&-text {
			&:before {
				@include after-before;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid $color-purple;
				left: 0;
			    top: 50%;
			    transform: translateY(-50%);
			}

			&--active {
				&:before {
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 4px solid $color-purple;
				}
			}

			@include muller-medium;
			position: relative;
			font-size: 14px;
			padding: 0 10px;
			color: $color-purple;
		}

		&-item {
			cursor: pointer;
			position: relative;
			padding: 19px 0;
			border-top: solid 1px $color-gray-dark;
			border-bottom: solid 1px $color-gray-dark;

			&+.tabs__prices-item {
				margin-top: -1px;
			}
		}
	}

	&__inner {
		&-list {
			@include reset;
			margin-top: 17px;
			display: none;

			li {
				padding: 21px 0;
				position: relative;
				border-top: solid 1px $color-white;
			}
		}

		&-title {
			@include muller-medium;
			color: $color-pink;
			font-size: 12px;
			margin-bottom: 3px;
		}

		&-text {
			font-size: 11px;
			color: #565656;
		}

		&-price {
			@include muller-bold;
			position: absolute;
			top: 21px;
			right: 0;
			font-size: 12px;
			color: $color-pink;
		}
	}
}