mixin tabs
	.tabs
		ul.tabs__list
			each item, index in ['Фото (9)','Цены','Отзывы']
				li.tabs__item(class= (index == 0 ? 'tabs__item--active':''))
					span= item

		hr.hr--article.hr--indent-sm

		.tabs__content
			.tabs__content-item.tabs__content-item--active
				.grid
					each item, index in ['https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg','https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg','https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg',]
						.grid-item(class= (index % 2 == true ? 'grid-item--width2':''))
							.grid-item__img(style='background-image: url('+item+')')

			.tabs__content-item
				ul.tabs__prices
					each item in [{name:'Декор'},{name:'Свадьба'},{name:'Украшение мероприятия'}]
						li.tabs__prices-item
							.tabs__prices-text= item.name
							
							ul.tabs__inner-list
								each itemInner in [{name:'Пригласительные',text:'Разработка оригинального дизайна пригласительных для гостей мероприятия.',price:'от 10 000 руб.'},{name:'Свадебный букет',text:'Оригинальный дизайн букета.',price:'от 7 000 руб.'}]
									li
										.tabs__inner-title= itemInner.name
										.tabs__inner-text= itemInner.text
										.tabs__inner-price= itemInner.price



			.tabs__content-item
				h3.tabs__title.h1--sm Оставить отзыв
				form.comments.comments--reviews.clearfix(action='' method='post')
					.comments__photo
						img(src='img/no-photo.gif' alt='')
					.comments__form
						.comments__wrapper
							textarea.comments__textarea.comments__textarea--reviews(placeholder='Ваш комментарий')
							button.btn.btn--pink Оставить отзыв

				hr.hr--gray.hr--index-md

				.comments
					.comments__photo
						img(src='img/no-photo.gif' alt='')
					.comments__form
						.comments__wrapper
							.comments__info
								span.comments__name Анна
								time.comments__date 29 сентября 2016 в 14:37
							.comments__text Ребята знают своё дело на 5+!))) мы получили такой результат, о котором и не мечтали))) все было настолько элегантно, утонченно и идеально гармонично, что лучше и придумать нельзя))) при всем этом мы получили супер детальный подход к работе, внимание к важным для нас мелочам, достойное соотношение цена-качество и просто приятное общение:) спасибо!)))

				hr.hr--gray.hr--index-md