mixin form
	.clearfix
		.form
			.col-sm-6.col-sm-push-6
				.form__text 
					p Если у вас возникли вопросы при регистрации,<br> воспользуйтесь страницей 
						a(href='#') Помощь и правила 
						|или напишите <br>нам: 
						a(href='mailto: info@facebanket.ru') info@facebanket.ru

					p Мы постараемся оперативно связаться с Вами и ответить на все вопросы.

					p Если в данный момент в каталоге нет вашего города, то просто укажите его при регистрации. После успешной проверки страницы модератором в каталоге появится ваша страница, а в общем списке отобразится ваш город.

			.col-sm-6.col-sm-pull-6
				form(action='' method='post')
					each item in [{name:'Электронный адрес'},{name:'Пароль'},{name:'Выберите вашу деятельность', select:['Фотографы','Ведущие']},{name:'facebanket.ru/адрес_страницы'},{caption:'Необходимо указать короткий адрес страницы более удобный и запоминающийся, лучше название компании. Для этого введите имя страницы, состоящее из латинских букв, цифр. Пример: facebanket.ru/svadbauvorot'},{name:'Город'}]
						if item.select
							.form__select
								select
									each itemSelect in item.select
										option= item.select
						else if item.caption
							p.form__caption= item.caption

						else
							input.form__input(type='text' placeholder= item.name)

					.form__checkbox
						input(type='checkbox' id='agree')
						label(for='agree') Я ознакомлен с 
							a(href='#') правилами

					button.btn.btn--pink.btn--fz-lg(type='submit') Зарегистрироваться