.form-el {
	border: solid 1px $color-black;
	border-radius: 20px;
	display: block;
	width: 100%;
	padding: 12px 23px 9px;
	outline: none;
	font-size: 16px;

	margin-bottom: 15px;

	// &+.form-el {
	// 	margin-top: 15px;
	// }
}

.form {
	@include make-row;

	&--edit {
		margin: 0 0 0 25px;
	}

	&--clear {
		margin: 0;
	}

	form {
		max-width: 412px;
		width: 100%;
	}

	a {
		@include muller-medium;
		color: $color-pink;
	}

	&__static-field {
		display: block;
		font-size: 16px;
	}

	&__label {
		&--black {
			@include muller-medium;
			color: $color-black !important;
		}
	}

	&__wide {
		max-width: 100% !important;
	}


	&__select {
		@extend .form-el;
		position: relative;
		padding: 0;

		&:before {
			@include after-before;
			border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-top: 5px solid $color-black;
		    right: 17px;
		    top: 50%;
		    transform: translateY(-50%);
		}

		select {
			padding: 12px 23px 9px;
    		width: 100%;
			outline: none;
			appearance: none;
		    border: 0;
		    background: transparent;
		}

		&--sm {
			max-width: 296px;
			select {
				padding: 9px 23px 5px;
			}
		}
	}

	&__input {
		@extend .form-el;
		@include placeholder($color-black);
		background: transparent;

		&-empty {
			margin-top: 32px;
		}

		&--sm {
			max-width: 296px;
			padding: 9px 23px 5px;
		}
	}

	&__textarea {
		@extend .form-el;
		@include placeholder($color-black);
		background: transparent;
		height: 102px;

		&--sm {
			max-width: 296px;
			padding: 9px 23px 5px;
		}

		// &--single {
		// 	margin-top: 15px;
		// }
	}

	&__caption {
		@include muller-light;
		margin: 24px 0;
		color: #8f8f8f;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__plus {
		position: absolute;
		right: -15px;
	    bottom: 4px;
	    font-size: 21px;
	    cursor: pointer;
	}

	&__wrapper {
		position: relative;
		margin-bottom: 19px;

		label {
			font-size: 14px;
			color: #666666;
			margin-bottom: 16px;
		}
	}

	&__checkbox {
		margin-top: 38px;
		position: relative;
		> * {
			cursor: pointer;
		}

		input, label:before {
			margin-top: -3px;
		}

		input {
			opacity: 0;
			position: absolute;
			@include size(22px,22px);
			z-index: 1;

			&:checked {
				&+label:before {
					background: $color-pink;
				}
			}
		}

		label {
			margin: 0;
			margin-left: 43px;
			font-size: 16px;

			&:before {
				@include after-before;
				@include size(22px,22px);
				left: 0;
				transition: background .3s ease;
				z-index: 0;
				border: solid 1px $color-black;
			}
		}

		&--sm {
			margin-top: 0;
			margin-bottom: 14px;

			input, label:before {
				margin-top: 1px;
			}

			input {
				@include size(15px,15px);
			}

			label {
				font-size: 14px;
				margin-left: 33px;

				&:before {
					background: $color-white;
					@include size(15px,15px);
				}
			}
		}
	}

	button {
		margin-top: 39px;
	}
}