.promo-about {
	@include img-cover;
	position: relative;
	height: 31.5rem;
	padding: 10px 4.4rem;

	&__content {
		@include center;
		width: 91%;
		position: absolute;
	}

	&__title {
		font-size: 2.4rem;
		color: $color-white;
		line-height: 1.4;
	}

	&__text {
		@include muller-light;
		font-size: 12px;
		color: $color-white;

		@media(max-width: $screen-xs-min) {
			display: none;
		}

		p {
			font-size: 12px;
		}
	}
}