.modal {
	&__title {
		@include muller-bold;
		@include uppercase;
		font-size: 3rem;
		text-align: center;
		color: $color-black;
		margin: 0;
	}

	&__p-mr {
		margin: 1.8rem 0 3rem;
	}

	a {
		color: $color-pink;
	}

	&__form {
		margin-top: 4.1rem;
	}

	&__input {
		font-size: 14px;
		text-align: center;
	}

	&__mr-t {
		margin-top: 30px;
	}

	&__wrapper {
		position: relative;
	}

	&__absolute {
		position: absolute;
	    right: 19px;
	    top: 13px;
	}

	&__checkbox {
		margin-top: 0;

		label {
			@include muller-light;
			margin-left: 32px;
			font-size: 14px;
		}
	}

	&__social {
		@include dib(top);
		font-size: 13px;
		padding: 8px 15px;
    	border-radius: 30px;
    	color: $color-white;

    	&+.modal__social {
    		margin-left: 2px;
    	}

		&--vk {
			background: #587da3;
		}

		&--fb {
			background: #1a579d;
		}

		&--ok {
			background: #f7941d;
		}
	}

	&__divider {
		font-size: 16px;
		position: relative;
		text-align: center;
		color: #b7b7b7;

		&:before, &:after {
			@include after-before;
			@include size(154px,1px);
			top: 50%;
    		margin-top: -1px;
			background: #b7b7b7;
		}

		&:before {
			left: -15px;
		}

		&:after {
			right: -15px;
		}
	}

	.close {
		right: 9px;
		opacity: 1;
	    position: absolute;
	    top: 7px;

	    [class^='icon-'] {
	    	font-size: 2.7rem;
		    transform: rotate(45deg);
	    }
	}
}

.modal-wrapper {
	display: none;
	padding: 43px $padding;
	max-width: 328px + $padding * 2;
	margin: 0 auto;
	width: 100%;
}

.modal-dialog {
	position: relative;
	width: 100%;
	max-width: 497px;
	background: $color-white;
	position: relative;

	@media(max-width: $screen-xs-max) {
		max-width: 100%;
		margin: 7px;
	}
}

.modal-start {
	text-align: center;
	margin-top: 5rem;

	&__item {
		@include dib(top);
		width: 49%;
		text-align: center;
		position: relative;
		cursor: pointer;

		&:first-child {
			left: -3.7rem;
		}

		&:last-child {
			right: -3.7rem;
		}

		&--wide {
			width: 53%;
			margin: 0 auto;
			right: 0 !important;
			left: 0 !important;
		}
	}

	&__title {
		@include muller-medium;
		font-size: 16px;
	}

	.btn {
		margin-top: 3.4rem;
	}

	&__text {
		font-size: 12px;
		color: $color-yellow;
		margin-top: 10px;
	}

	&__ico {
		@include size(14.3rem,14.3rem);
		border-radius: 100%;
		position: relative;
		margin-bottom: 2.8rem;
		margin-left: auto;
    	margin-right: auto;
    	background: $color-yellow;

		&:before {
			@include center;
			font-size: 7rem;
		}

		&.icon-from {
			&:before {
				font-size: 18rem;
			}
		}

		&.icon-guest {
			&:before {
				font-size: 15rem;
			}
		}
	}
}

.modal-own {
	top: 0;
	transition: opacity .3s ease;
	opacity: 0;
	position: absolute;
	display: none;
	width: 100%;
	max-width: 360px;
	z-index: 10;

	&__dialog {
		box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.09);
		width: 100%;
		background: $color-white;

		input, textarea, select {
			@include muller-light;
			font-size: 11px;
			color: #666666;
			padding: 10px 23px 9px;
		}
	}

	&__content {
		padding: 3.3rem 3.4rem;
		background: $color-white;

		&--sm {
			padding: 2.8rem 2.5rem 2rem;
		}
	}

	.btn {
		margin: 0;
	}

	&__textarea {
		width: 100%;
		font-size: 14px !important;
		border: solid 1px #ebebeb;
		padding: 18px !important;
		height: 161px;
		margin-bottom: 1.8rem;
	}

	&__triangle {
		&-left {
			left: -15px;
    		top: 50%;
			position: absolute;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent; 
			border-right: 15px solid $color-white;
		}

		&-top {
			left: 50%;
    		top: -15px;
    		margin-left: -15px;
    		position: absolute;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid $color-white;
		}
	}
}