mixin modals
	.modal.fade#modals
		.modal-dialog
			.close(data-dismiss='modal')
				.icon-plus

			.modal-wrapper#recover
				h2.modal__title Забыли пароль?
				form.text-center(action='' method='')
					p.modal__p-mr Для восстановления пароля, введите <br>ваш E-Mail 
					input.modal__input.form__input(type='email' placeholder='Электронный адрес')
					button.btn.btn--sm-4.btn--pink.btn--single-sm Восстановить


			.modal-wrapper#login
				h2.modal__title Войти

				form.modal__form(action='' method='post')
					input.modal__input.form__input(type='email' placeholder='Электронный адрес')
					input.modal__input.form__input(type='password' placeholder='Пароль')

					.text-center
						.modal__mr-t.clearfix
							.col-xs-6
								.form__checkbox.modal__checkbox
									input(type='checkbox' id='agree')
									label(for='agree') Запомнить меня
							.col-xs-6
								a(href='#' data-modal='#recover') Забыли пароль?

					.text-center: button.btn.btn--sm-4.btn--pink.btn--single-md Войти

					.modal__divider.btn--single или

					.text-center.btn--single
						.modal__social.modal__social--vk Вконтакте
						.modal__social.modal__social--fb Facebook
						.modal__social.modal__social--ok Одноклассники

			.modal-wrapper#guest
				h2.modal__title Регистрация

				form.modal__form(action='' method='post')
					.modal__wrapper
						.required.modal__absolute
							span *
						input.modal__input.form__input(type='email' placeholder='Электронный адрес')

					.modal__wrapper
						.required.modal__absolute
							span *
						input.modal__input.form__input(type='password' placeholder='Пароль')

					.modal__wrapper
						.required.modal__absolute
							span *
						input.modal__input.form__input(type='text' placeholder='Имя пользователя')
					input.modal__input.form__input(type='date' placeholder='Дата мероприятия')
					input.modal__input.form__input(type='type' placeholder='Город')

					.required.modal__mr-t
						.text-center
							span * 
							|&mdash; Обязательные поля

					.clearfix
						.col-xs-12
							.form__checkbox
								input(type='checkbox' id='agree2')
								label(for='agree2') Я ознакомлен с 
									a(href='#') правилами

					.text-center: button.btn.btn--sm-4.btn--pink.btn--single-md Зарегистриорваться

					.modal__divider.btn--single или

					.text-center.btn--single
						.modal__social.modal__social--vk Вконтакте
						.modal__social.modal__social--fb Facebook
						.modal__social.modal__social--ok Одноклассники

			.modal-wrapper#profi
				h2.modal__title Я профессионал из...

				.modal-start
					.modal-start__item.modal-start__item--wide.modal-start__item--guest
						.modal-start__ico.icon-from
						.modal-start__text Выберите город вашего прибывания, чтобы клиентам было проще вас найти
					.btn.btn--select.btn--purple
						select
							option Выбрать город
							option Казань
							option Москва

			.modal-wrapper#sign-in
				h2.modal__title Кем вы являетесь?

				.modal-start
					.modal-start__item.modal-start__item--guest(data-modal='#guest')
						.modal-start__ico.icon-guest
						.modal-start__title Гость
						.modal-start__text Невеста, жених, сёрфер или вам просто интересны торжественные мероприятия

					.modal-start__item.modal-start__item--profi(data-modal='#profi')
						.modal-start__ico.icon-photo
						.modal-start__title Профессионал
						.modal-start__text Я предлагаю услуги в свадебной и праздничной индустрии


	.modal-own
		.modal-own__dialog
			.modal-own__content.modal-own__content--sm#message
				.modal-own__triangle-top
				form(action='' method='')
					textarea.modal-own__textarea(placeholder='Ваше сообщение')
					button.btn--mr-h.btn.btn--xs.btn--pink Отправить


			.modal-own__content#lot
				.modal-own__triangle-left
				h2.h1--line.h1--mb-sm Новый лот
				form(action='' method='')
					.form__wrapper
						label Категория
						.form__select.form__select--sm
							select
								option Ведущие, торты, место и т.д.
								option Место

					.form__wrapper
						label Город
						.form__select.form__select--sm
							select
								option Город проведения события
								option Москва

					.form__wrapper
						label Заголовок
						input.form__input.form__input--sm(type='text' placeholder='Необходим фотограф')

					.form__wrapper
						label Ваш запрос (кратко)
						textarea.form__textarea.form__textarea--sm


					.form__wrapper
						label Бюджет
						.form__select.form__select--sm
							select
								option До любой суммы или по договоренности

					button.btn.btn--gray.btn--sm-2.btn--fz-sm Сохранить изменения



				