mixin tabsRules(items)
	each item in items
		.tabs-rules
			.tabs-rules__title= item.title
			.tabs-rules__text: p= item.text
				if item.list
					ul.list
						each itemList in item.list
							li= itemList