.tabs-rules {
	@media(min-width: $screen-xs-max) {
		padding-left: 8.6rem;
	}

	&__title {
		@include muller-medium;
		font-size: 16px;
		cursor: pointer;
		margin: 2.5rem 0;
	}

	&__text {
		@include muller-light;
		font-size: 12px;
		margin-top: 2.5rem;
		line-height: 1.3;
		display: none;

		a {
			color: $color-pink;
		}

		p, ul {
			font-size: 12px;
		}
	}

	&+.tabs-rules {
		border-top: solid 1px #d7d7d7;
	}
}