.organizer {
	margin-top: 38px;

	&__items {
		@include clearfix;
		padding-right: 4.4rem;
		margin-top: 23px;

		@media(max-width: $screen-xs-max) {
			padding-right: 0;
		}
	}

	&__title {
		@include uppercase;
		@include muller-medium;

		@media(max-width: $screen-xs-min) {
			> * {
				display: block;
				text-align: center;
				margin: 0 !important;
				line-height: 2;
			}
		}

		a {
			border-bottom: solid 1px $color-black;
		}
	}

	&__text {
		margin-right: 34px;
	}

	&__date {
		color: $color-pink;
	}

	&__icon {
		height: 61px;
		margin-bottom: 19px;
		text-align: center;
		position: relative;
	}

	&__item {
		@include size(154px,154px);
		@include img-cover;
		position: relative;
		background-color: $color-white;
		margin-bottom: $padding;
		border-radius: 100%;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;

		&--active {
			&:before {
				@include after-before;
				@include size(100%,100%);
				background: rgba(0, 0, 0, 0.7);
			}
		}

		&--plus {
			background: transparent;
		}
	}

	&__category {
		@include muller-medium;
		@include uppercase;
		width: 100%;
		text-align: center;
		color: $color-white;
		font-size: 12px;
		position: relative;

		&:before {
			@include after-before;
			@include size(30px,1px);
			@include center-just;
			background: $color-white;
			bottom: -13px;
		}
	}

	&__name {
		@include muller-bold;
		color: $color-yellow;
		font-size: 16px;
		width: 100%;
		margin-top: 27px;
		text-align: center;
	}

	&__content {
		@include center;
	}

	&__plus {
		@include size(100px,100px);
		@include center;
		background: $color-white;
	    border-radius: 100%;
	    border: solid 1px $color-black;

	    &:before, &:after {
	    	@include after-before;
	    	@include size(1px,55px);
	    	@include center;
	    	background: $color-black;
	    }

	    &:after {
	    	transform: rotate(90deg);
    		top: 23%;
	    }
	}

	[class^='icon-'] {
		@include center-just;
		position: absolute;
		bottom: 0;
		text-align: center;
		color: $color-gray-light;
		font-size: 50px;
	}

	.icon- {
		&photo {
			font-size: 39px;
		}
	}
}