mixin organizer(items)
	.organizer
		if items.title
			.organizer__title
				span.organizer__text: a(href='#')= items.title
				span.organizer__date= items.date

		if items.pieces
			.organizer__items
				.row
					each item, index in items.pieces
						.col-md-3.col-sm-6
							.organizer__item(class= (item.img ? 'organizer__item--active':'') style= (item.img ? 'background-image: url(img/_tmp/slider-1.jpg)':''))

								.organizer__content
									if item.img
										.organizer__category= item.category
										.organizer__name= item.name
									else
										.organizer__icon
											div(class='icon-'+item.ico)
										a.btn.btn--color-black.btn--fz-xs.btn--xs-2.btn--yellow(href='#') Выбрать

					.col-md-3.col-sm-6
						.organizer__item.organizer__item--plus
							.organizer__plus
									