.profile-info {
	margin-top: 4px !important;

	&__content {
		@include dib(middle);
		position: relative;

		&:before {
			@include after-before;
			border-left: 4px solid transparent;
		    border-right: 4px solid transparent;
		    border-top: 4px solid $color-black;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		}
	}

	&__avatar {
		@include dib(middle);
		@include img-cover;
		@include size(38px,38px);
		border-radius: 100%;
	}

	&__name {
		@include dib(middle);
		margin-left: (12-5)+px;
		width: 131px;
		text-align: left;
		padding-right: 11px;
	}
}