.rate {
	padding-bottom: $padding;
	
	&__title, &__price {
		@include muller-bold;
	}

	&__title {
		font-size: 21px;
		color: $color-white;
		padding: 2.8rem 0 2.5rem;

		&--pink {
			background: $color-pink;
		}

		&--yellow {
			background: $color-yellow;
		}
	}

	&__price {
		@include uppercase;
		font-size: 21px;
		background: #ebebeb;
		padding: 2rem 0 1.5rem;
	}

	&__content {
		padding: 6rem 3.6rem 0;
	}

	&__text {
		@include muller-medium;
		font-size: 16px;
	}

	.btn {
		margin-top: 5.2rem;
	}

	.list {
		margin-top: 5.5rem;
	}
}