mixin rate(items)
	.rate(class= (attributes.color ? attributes.color:''))
		.rate__title(class= (attributes.color ? 'btn--'+attributes.color:''))= items.title
		.rate__price= items.price
		.rate__content
			.rate__text= items.text

			if items.list
				ul.list.list--line
					each item in items.list
						li= item

		a.btn.btn--lg(href='#' class= (attributes.color ? 'btn--'+attributes.color:''))= items.btnText