mixin profileMenu(items)
	ul.profile-menu(class= (attributes.mrb ? 'profile-menu--mrb':''))
		each item, index in items
			li.profile-menu__item(class= (index == pageIdSub ? 'profile-menu__item--active':'')): a(class= (item == 'Изменить тариф' ? 'btn btn--pink btn--sm':'') href='#')= item