.profile-menu {
	@include reset;
	@include muller-medium;

	&--mrb {
		margin-bottom: 15px;
	}

	&__item {
		&+li {
			margin-top: 19px;
		}

		&--active {
			a {
				padding-bottom: 5px;
				border-bottom: solid 2px $color-pink;
			}
		}

		.btn {
			margin-left: -19px;
		}
	}
}