mixin article(items)
	.block
		if attributes.title
			h2.h1--line #{attributes.title}
		
			if attributes.list
				.row
					each item in items
						.col-6-4--i
							article.article(class= (attributes.time == 'yellow' ? 'article--yellow':''))
								a(href='#')
									time= item.date
									.article__title(class=(attributes.bold) ? 'article__title--bold ':'')= item.title
			else
				each item in items
					article.article(class= (attributes.time == 'yellow' ? 'article--yellow':''))
						a(href='#')
							time= item.date
							.article__title(class=(attributes.bold) ? 'article__title--bold ':'')= item.title