.col-6-4--i {
	@include dib(top);
	width: percentage(4 / 12) - 1%;
	padding-left: $padding / 2;
	padding-right: $padding / 2;
	margin-bottom: 2.3rem;

	@media(min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		width: percentage(6 / 12) - 1%;
	}

	@media(max-width: $screen-xs-min) {
		display: block;
		width: 100%;
	}
}

.article {
	font-size: 1.4rem;
	margin-bottom: 1.8rem;

	a {
		display: block;
	}

	&--yellow {
		time {
			color: $color-yellow !important;
		}
	}

	time {
		@include uppercase;
		color: $color-pink;
	}

	&__price {
		@include muller-bold;
		font-size: 1.8rem;
	}

	&__lot {
		@include muller-medium;
		@include uppercase;
		color: $color-pink;
		margin-right: 11px;
	}

	&__title {
		font-size: 1.6rem;
		margin-top: 7px;

		&--bold {
			@include muller-medium;
			font-size: 1.8rem;
		}
	}

	&--auction {
		margin-bottom: 3.9rem;

		.article__title {
			margin-bottom: 12px;
		}

		.people-item__category {
			margin-bottom: 3rem;
		}
	}
}