.people-item {
	text-align: center;
	margin-bottom: 4.7rem;

	&--left {
		text-align: left;
	}

	&__img {
		@include img-cover;
		height: 218px;
		margin-bottom: 1.7rem;

		&--article {
			height: 250px;
		}
	}

	&__category {
		font-size: 11px;
		color: $color-gray;
		margin-bottom: .6rem;

		&--article {
			@include muller-medium;
			@include uppercase;
			color: $color-yellow;
			font-size: 1.4rem;
			text-align: left;
		}
	}

	&__name {
		@include muller-medium;
		margin-bottom: 1.2rem;
		font-size: 1.6rem;
		
		&--article {
			@include muller-medium;
			font-size: 1.8rem;
			text-align: left;
			height: 43px;
			overflow: hidden;
		}
	}
}