mixin people-item(items)
	.clearfix
		.row
			each item in items
				div(class='col-md-'+attributes.md+' col-sm-'+attributes.sm)
					.people-item(class= (attributes.left ? 'people-item--left':''))
						if(item.img)
							a(href='#')
								.people-item__img(class= (attributes.article ? 'people-item__img--article':'') style='background-image: url('+item.img+')')
						else if(item.slider)
							.people-item__img(class= (attributes.article ? 'people-item__img--article':''))
								.swiper-container
									.swiper-wrapper
										each itemSlider in item.slider
											.swiper-slide(style='background-image: url('+itemSlider.img+')')
									.swiper-button-next.swiper-button-white
									.swiper-button-prev.swiper-button-white
										

						a(href='#')
							.people-item__category(class= (attributes.article ? 'people-item__category--article':''))= item.category
							.people-item__name(class= (attributes.article ? 'people-item__name--article':''))= item.name
							if item.stars
								.stars
									- for (var i = 1; i <= item.stars; i++)
										span.icon-star