.swiper-block {
	padding-bottom: 2.7rem;
	height: 29.5rem + 2.7 * 2 !important;
}

.swiper-container {
	width: 100%;
	height: 100%;

	[class^='swiper-button'] {
		background-size: 15px 44px;
		opacity: 1;
		cursor: pointer;
	}
}

.swiper-img {
	height: 100%;
	position: relative;

	&--shadow {
		.swiper-slide {
			&:before {
				@include after-before;
				@include size(100%,100%);
				background: rgba(0, 0, 0, 0.28);
    			z-index: 10;
			}
		}
	}

	&--slave {
		border-top: solid 1px $color-yellow;
    	padding: 2.7rem 0;
	}

	&--block {
		@extend .swiper-block;
	}

	.swiper-wrap {
		@include center;
		text-align: center;
		z-index: 10;
		width: 80%;
		margin-top: 2.3rem;

		@media(max-width: $screen-xs-min) {
			margin-top: 0;
		}
	}
}

.swiper-slide {
	@include img-cover;

	&__category {
		@include uppercase;
		text-align: center;
		font-size: 12px;
		color: $color-yellow-light;
	}

	&__text {
		@include muller-medium;
		font-size: 2.4rem;
		color: $color-white;
		line-height: 1.3;
		margin-top: 2.3rem;

		@media(max-width: $screen-sm-max) {
			br {
				display: none;
			}
		}
	}
}

.swiper-caption {
	margin-top: 5rem;

	@media(max-width: $screen-xs-min) {
		display: none
	}

	&__logo, &__text {
		@include dib(middle);
	}

	&__logo {
		@include size(41px,41px);
		border-radius: 100%;
	}
	
	&__text {
		margin-left: 14px;
		color: $color-white;
	}
}