mixin slider(items)
	.swiper-img.swiper-img--shadow(class= attributes.mod+(attributes.class ? ' '+attributes.class:''))
		.swiper-container
			.swiper-wrapper
				each item in items
					.swiper-slide(style='background-image: url(img/_tmp/'+item.img+')')
						.swiper-wrap
							.swiper-slide__category= item.category
							.swiper-slide__text!= item.text
							.swiper-caption
								span.swiper-caption__logo
									img.swiper-caption__logo(src= item.logo)
								span.swiper-caption__text!= item.caption

			.swiper-button-next.swiper-button-white
			.swiper-button-prev.swiper-button-white