.social {
	margin-top: -15px;

	&__item {
		font-size: 34px;
		color: $color-yellow;
	}

	&--sm {
		.social__item {
			font-size: 26px;
		}
		
		margin-top: 0;
	}

	&--null {
		margin-top: 0;
	}

	&--gray {

		.social__item {
			color: #b7b7b7;

			&:hover {
				color: $color-yellow;
			}
		}
	}

	a {
		&+a {
			margin-left: 3px;
		}
	}

	&--mrr-lg {
		a {
			&+a {
				margin-left: 10px;
			}
		}
	}
}