mixin social(items)
	.social(class= (attributes.sm ? 'social--sm':'')+(attributes.mrrLg ? ' social--mrr-lg':'')+' '+attributes.class)
		if items
			each item in items
				a(href='#' target='_blank'): span.social__item(class='icon-'+item)
		else
			each item in ['facebook','vk','ok']
				a(href='#' target='_blank'): span.social__item(class='icon-'+item)