.icon-key {
	font-size: 16rem;
	position: relative;
	display: block;

	&:after {
		@include center-just;
		content: '';
		position: absolute;
	    width: 14rem;
	    height: 14rem;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    background: $color-yellow;
	    z-index: -1;
	    border-radius: 100%;
	    top: 50%;
	    transform: translateY(-50%);
	}
}