mixin table(items)
	.table-wrapper
		table.table
			thead
				tr
					td Лот
					td Запрос
					td Категория
					td Участники
			tbody
				each item in items
					tr
						td= item.lot
						td
							.table__title: a(href='#')= item.query
							if item.text
								.table__text= item.text

							if item.features
								.table__features
									hr.hr--white

									+tableFeatures(item.features)
						td= item.category
						td: a(href='#')= item.count

					//- if item.features
					//- 	tr
					//- 		td
					//- 		td(colspan=3)
					//- 			hr.hr--white