.table {
	overflow: hidden;
	min-width: 450px;

	a {
		@include muller-bold;
		font-size: 16px;
		color: $color-purple;
		border-bottom: solid 1px lighten($color-purple, 20);
	}

	thead {
		@include muller-medium;
		color: #666666;
		font-size: 11px;

		td {
			border-bottom: solid 1px #666666;
			padding: 8px 0 !important;
		}
	}

	tbody {
		td {
			padding: 2.5rem 10px 2.5rem 0 !important;

			&:nth-of-type(1) {
				@include muller-bold;
				color: $color-pink;
				width: 86px;
				font-size: 16px;
			}

			&:nth-of-type(2) {
				width: 324px;
				line-height: 1.2;
			}
		}
	}

	&--mrt {
		margin-top: 2.7rem;
	}

	&__features {
		margin-right: -100%;
	}

	&__title {
		@include muller-medium;
		font-size: 16px;

		a {
			@include muller-medium;
			color: $color-black;
			border: 0;
		}
	}

	&__text {
		font-size: 12px;
		margin-top: 2.5rem;

		&--just {
			@include muller-medium;
			width: 120px;
		}

		&--pdb {
			padding-bottom: 1.4rem;
		}

		&--pink {
			color: $color-pink;
		}

	}

	&__success {
		@include muller-medium;
		color: $color-pink;
		font-size: 14px;
		margin-top: 2.5rem;
	}

	&__lot {
		@include muller-bold;
		@include uppercase;
		font-size: 14px;
		color: $color-pink;
	}

	&__category {
		font-size: 12px;
		color: #666666;
		margin-top: 1.6rem;
	}

	&__comment {
		background: #fff;
	    margin: 23px -79px 0 -18px;
	    position: relative;

	    &:before {
	    	@include after-before;
		    border-left: 9px solid transparent;
		    border-right: 9px solid transparent;
		    border-bottom: 9px solid $color-white;
		    top: -9px;
		    right: 23px;
	    }

	    &-btn {
	    	@include muller-bold;
	    	width: 98px;
	    	color: $color-pink !important;
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	    	text-align: center;
    		padding: 11px 5px 7px;
    		font-size: 12px !important;
    		border: 0 !important;
	    }

	    &-text {
	    	font-size: 12px;
	    	padding: 10px 98px 10px 18px;
	    }
	}

	&--bookmarks {
		tbody {
			td {
				padding: 14px 10px 14px 0 !important;

				&:nth-of-type(2) {
					width: 430px;
				}

				&:nth-of-type(3) {
					text-align: center;
				}
			}

			tr {
				&:nth-of-type(1) {
					td {
						border: 0;
						padding-top: 10px !important;
					}
				}
			}

			.table__action-link {
				@include muller;
				color: $color-black;
				border: 0;
				display: block;
				font-size: 14px;

				span {
					@include dib(middle);
					margin-right: 7px;
				}
			}

			.table__action-link, .table__title {
				margin-top: 14px;
			}
		}
	}

	&--messages, &--head {
		td {
			&:first-child {
				width: 49px !important;
			}
		}

		.form__checkbox {
			width: 15px;

			label {
				&:before {
					top: 0;
				}
			}
		}
	}

	&--messages {
		tr {
			&:first-child {
				td {
					border: 0;
					padding-top: 1.4rem !important;
				}
			}
		}

		tbody td {
			padding-top: 3.4rem !important;
			padding-bottom: 3.4rem !important;

			&:nth-of-type(2) {
				width: 550px;
			}

			&:nth-of-type(3) {
				width: 69px;
			}

			&:last-child {
				color: #666666;
				text-align: center;
				padding-right: 0 !important;

				a {
					@include muller;
					color: $color-pink;
					font-size: 14px;
				}
			}
		}

		.table__title, .table__title a {
			font-size: 14px;
		}

		time {
			display: block;
			font-size: 12px;
			margin-bottom: 17px;
		}
	}

	&--head {
		margin-top: 2.8rem;
		margin-bottom: 2.2rem;

		thead>tr>td {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			border: 0;
		}

		button {
			&+button {
				margin-left: 9px;
			}
		}

		.form__checkbox {
			top: 4px;
			position: relative;

			&:before {
				@include after-before;
				@include size(1px,21px);
				background: $color-white;
				top: -2px;
				right: -13px;
			}
		}
	}

	&__date {
		font-family: muller !important;
		font-size: 12px !important;
		color: $color-black !important;
	}

	&__rate {
		@include muller-medium;
	}
}

tbody, thead {
	&.table__payment {
		td {
			border-color: $color-white !important;
			&:last-child {
				text-align: right;
			}
		}
	}
}

tbody {
	&.table__payment {
		td {
			&:last-child {
				@include muller-medium;
				color: $color-pink;
			}
		}
	}
}

thead {
	&.table__payment {
		font-size: 12px;
	}
}