mixin comments
	form.comments.clearfix(action='' method='post')
		.row
			.col-xs-2
				img(src='img/no-photo.gif' alt='')
			.col-xs-10
				textarea.comments__textarea(placeholder='Ваш комментарий')
				button(class= (attributes.btn ? attributes.btn:'')) Отправить