.comments {
	@include clearfix;
	margin: 3rem 0;

	img {
		margin: 0 !important;
	}

	&__textarea {
		@include placeholder($color-black);
		@include muller-light;
		font-size: 12px;
		width: 100%;
		border: solid 1px #d7d7d7;
		padding: 11px;
		height: 130px;
		border-radius: 0;

		&--reviews {
			height: 38px;
		}
	}

	button {
		margin-top: 2.8rem;
	}


	&__photo, &__form {
		float: left;
	}

	&__photo {
		margin-bottom: 20px;
		width: 68px;
		margin-right: -68px;
	}

	&__form {

	}

	&__name {
		@include muller-medium;
		font-size: 14px;
		margin-right: 10px;
	}

	&__date {
		color: #a1a1a1;
		font-size: 12px;
	}

	&__wrapper {
		margin-left: (68+14)+px;
	}

	&--reviews {
		button {
			margin-top: 20px;
		}
	}

	&__text {
		font-size: 12px;
		margin-top: 14px;
		line-height: 1.5;
	}
}