include include/mixins
include ../../app/components/index/social
include ../../app/components/modals/modals
block vars

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(
			name="viewport" 
			content="width=device-width, initial-scale=1, user-scalable=no")
		meta(content="", name="description")
		meta(content="", name="keywords")
		title FCBanket &mdash; 
			block title

		link(rel="stylesheet", href="css/vendors.min.css")
		link(rel="stylesheet", href="css/custom.css")
	body(class= (pageId > 0 ? 'inner':''))
		header.header
			.top-panel
				.container
					.top-panel__date 26 мая 2016
						span.top-panel__time 14:18
					a.top-panel__phone(href='tel:+7 (800) 2000-600') +7 (800) 2000-600
			if pageId == 0
				.promo(style='background-image: url(img/bg.jpg)')
					.promo__content
						.promo__brand
							.promo__logo
							.promo__logo-title
						.promo__text Находите свадебных специалистов, сохраняйте<br> в органайзер события и делись ими с друзьями

						.btn.btn--select.btn--mr-h
							select
								each item in ['Выберите категорию','Фотографы','Ведущие']
									option= item
						.btn.btn--mr-h Присоединиться к профи

			include include/top-menu

		block content
		footer.footer
			.container
				nav.footer__menu
					ul
						each item in ['Помощь и правила','Реклама','О нас','Как это работает','Контакты']
							li: a(href='#')= item
					.footer__phone +7 (800) 2000-600

				.footer__content
					.col-sm-2 
						.row © 2016 FaceBanket
					.col-sm-7
						.row
							.footer__text Использование материалов FaceBanket.ru разрешено только с предварительного согласия правообладателей. Все права на картинки и тексты принадлежат их авторам. Сайт может содержать контент, не предназначенный для лиц младше 16-ти лет.
					.col-sm-3
						.row
							.footer__text.text-right
								+social

				.footer__content.footer__content--mr-horizontal
					.col-sm-2
					.col-sm-7
						.row
							a(href='#'): span.line Предложить, как сделать сайт лучше
					.col-sm-3.text-right
						.row
							a(href='#') Разработано в 
								span.dev MICHELOUNGE

		+modals
				
		script(src='js/vendors.min.js')
		block scripts
		script(src='js/custom.js')
