include ../../app/components/catalogue/menu-features
include ../../app/components/form/form
include ../../app/components/contacts/contacts
include ../../app/components/features-about/features-about

extends _template
block vars
	- var pageId = 14

block title
	|Контакты

block content
	.wrapper
		.container-sm
			.block.block--profile.block--gray
				h1.h1--line О нас

				.block
					.promo-about(style='background-image: url(img/about.jpg)')
						.promo-about__content
							.clearfix
								.row
									.col-md-6
										.promo-about__title
											|Мы - команда, которая создает будущее индустрии торжественных мероприятий.
									.col-md-6
										.promo-about__text
											p Мы хотим видеть больше красивых, ярких свадеб и торжественных мероприятий, у каждой из которых будет свой неповторимый стиль и индивидуальность. Мы полны идей и делимся ими, чтобы вдохновить вас и упростить нелегкую задачу подготовки к свадьбе или торжеству.

											p Мы хотим видеть больше красивых, ярких свадеб и торжественных мероприятий, у каждой из которых будет свой неповторимый стиль и индивидуальность. Мы полны идей и делимся ими, чтобы вдохновить вас и упростить нелегкую задачу подготовки к свадьбе или торжеству.

					.text-center: h2.h1--md-2.h1--mb-sm.h1--black.h1--m-xs.h1--m-tb Наши преимущества
					
					.wrapper
						+featuresAbout([{ico:'star-tr',title:'Простота',text:'Планирование свадьбы легко и непринужденно не выходя из дома.'},{ico:'search',title:'Удобный поиск',text:'Возможность искать идеи и компании по заданным параметрам. Все идеи разбиты по цветам, стилям, тематикам, а компании по цене, качеству, месторасположению.'},{ico:'ptime',title:'Экономия времени',text:'Поиск, хранение и редактирование информации в едином ресурсе снижают затраты времени на планирование.'},{ico:'portmone',title:'Экономия средств',text:'Благодаря советам, мастер-классам и возможности найти исполнителей по оптимальной цене, вы сможете организовать свадьбу мечты с весьма скромным бюджетом..'},{ico:'bubble',title:'Общение',text:'Возможность вести переписку со специалистами и делиться информацией с гостями одновременно.'},{ico:'plove',title:'Любовь',text:'FaceBanketru сделан с любовью и вниманием к мелочам. Уверены, что и вы полюбите его.'}])
