include ../../app/components/catalogue/menu-features.jade
include ../../app/components/auction/auction.jade
include ../../app/components/catalogue/sort.jade
extends _template
block vars
	- var pageId = 4

block title
	|Аукцион

block content
	.container
		.text-top
			h1.h4 Что  такое аукцион
			p Это возможность выбрать профессионального исполнителя на конкурскной основе. Профессионалы сами предложат свои <br>услуги, а вам останется лишь выбрать того исполнителя, который вам по-душе.

	+menu-features(color = 'yellow')

	.block
		.container
			//- include functions here
			.wrapper
				+auction
				.text-center: button.btn.btn--lg.btn--purple Смотреть еще