include ../../app/components/index/people-item.jade
include ../../app/components/catalogue/menu-features.jade
include ../../app/components/catalogue/text.jade
include ../../app/components/catalogue/sort.jade
extends _template
block vars
	- var pageId = 1

block title
	|Каталог общий

block content
	+menu-features

	.container
		//- include functions here

		+sort

		.wrapper
			.block
				+people-item([{'slider':[{'img':'img/_tmp/people-1.jpg'},{'img':'img/_tmp/people-2.jpg'}],'category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'slider':[{'img':'img/_tmp/people-1.jpg'},{'img':'img/_tmp/people-2.jpg'}],'category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'slider':[{'img':'img/_tmp/people-1.jpg'},{'img':'img/_tmp/people-2.jpg'}],'category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'slider':[{'img':'img/_tmp/people-1.jpg'},{'img':'img/_tmp/people-2.jpg'}],'category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'slider':[{'img':'img/_tmp/people-1.jpg'},{'img':'img/_tmp/people-2.jpg'}],'category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},])(md = 3, sm = 6, left = true)

				.text-center: button.btn.btn--lg.btn--purple Смотреть еще
			.block
				+text