include ../../app/components/catalogue/menu-features
include ../../app/components/form/form
include ../../app/components/contacts/contacts
extends _template
block vars
	- var pageId = 13

block title
	|Контакты

block content
	.wrapper
		.container-sm
			.block.block--article.block--gray
				h1.h1--line Контакты
				+contacts([{text:'У вас есть <br>интересный проект, свадьба, контент, фотосессия, история, новый продукт,<br> мастер-класс.',email:'ms@facebanket.ru'},{text:'Вы являетесь представителем<br> прессы и хотели бы написать<br> о нас?',email:'pr@facebanket.ru'},{text:'Хотели бы обсудить рекламные или партнерские возможности?',email:'ad@facebanket.ru'},{text:'Вы оказываете свадебные услуги и хотели бы зарегистрироваться<br> в каталоге, но возникли вопросы?',email:'hp@facebanket.ru'}])

				hr.hr--article

				.wrapper--md-tb.text-center
					h2.h1--md.h1--mb-sm.h1--black Мы в социальных сетях
					+social()(class='social--null')

				hr.hr--article
				
				.wrapper--md-tb.text-center
					h2.h1--md.h1--mb-sm.h1--black Отправить запрос

					.form
						form.form__wide(action='' method='post')
							.clearfix
								.col-sm-6
									each item in [{name:'Компания'},{name:'Телефон'},{name:'Город'}]
												input.form__input(type='text' placeholder= item.name)

								.col-sm-6
									each item in [{name:'Контактное лицо'},{name:'Электронный адрес'},{name:'Сайт'}]
											input.form__input(type='text' placeholder= item.name)

								.col-sm-12
									textarea.form__textarea.form__textarea--single(placeholder='Комментарии')


					button.btn.btn--sm-3.btn--purple.btn--single(type='submit') Отправить