include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var profileInfo = true

block title
	|Личный кабинет - Моя страница

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								form(action='' method='post')
									.block

										h1.h1--mb-xs.h1--m-null: span &lt; Вернуться назад

										hr.hr--article.hr--indent-sm

										h1.h1--m-xs.h1--m-null Редактирование данных

										.catalogue-item.catalogue-item--profile-edit
											.clearfix
												.col-sm-2.col-xs-3
													.catalogue-item__img
														img(src='img/_tmp/people-1.jpg' alt='')

														.btn.btn--fz-sm.btn--gray.btn--sm-3
															input(type='file')
															label Загрузить фото

														p Размер аватара должен быть не меньше 306x306 px

												.col-sm-6.col-xs-9
													.form.form--edit
														each item in [{name:'Дмитрий',label:'Имя'},{name:'Крылов',label:'Фамилия'},{name:'Город',label:'Город', select:['Екатеринбург']},{name:'+7 (950) 545-14-14)',type:'tel',label:'Телефон'}]
															.form__wrapper
																label= item.label

																if item.select
																	.form__select.form__select--sm
																		select
																			each itemSelect in item.select
																				option= item.select
																else if item.caption
																	p.form__caption= item.caption

																else
																	input.form__input.form__input--sm(type= (item.type ? item.type:'text') pattern=(item.pattern ? item.pattern:'') placeholder= item.name)

														.form__wrapper
															label Положение:

															.clearfix
																.row
																	.col-md-5
																		each item, index in items = [{label:'Жених',name:'lk'},{label:'Именинник',name:'im'},{label:'Гость',name:'guest'}]
																			.form__checkbox.form__checkbox--sm
																				input(type='checkbox' id= item.name)
																				label(for= item.name)= item.label

																	.col-md-5
																		each item, index in items = [{label:'Невеста',name:'answers'},{label:'Именинница',name:'im2'},{label:'Организатор',name:'org'}]
																			.form__checkbox.form__checkbox--sm
																				input(type='checkbox' id= item.name)
																				label(for= item.name)= item.label

											hr.hr--article

											h1.h1--m-xs.h1--m-null Ваши события

											.block
												.form__wrapper
													label Событие 1:

													.clearfix
														.row
															.col-sm-2.col-xs-3
																.form__select.form__select--sm
																	each item in [{select:['27.08.2016']}]
																		select
																			each itemSelect in item.select
																				option= item.select

															.col-sm-6.col-xs-9
																input.text-uppercase.form__input.form__input--sm(placeholder='Мой день рождения')

												.form__wrapper
													label Событие 2:

													.clearfix
														.row
															.col-sm-2.col-xs-3
																
																.form__select.form__select--sm
																	each item in [{select:['27.08.2016']}]
																		select
																			each itemSelect in item.select
																				option= item.select

															.col-sm-6.col-xs-9
																input.form__input.form__input--sm(placeholder='Название события')

												.wrapper--sm
													button.btn.btn--fz-sm.btn--sm-3 Добавить еще

												hr.hr--article

											h1.h1--m-xs.h1--m-null Социальные сети

											.clearfix
												.col-sm-2.col-xs-3

												.col-sm-6.col-xs-9
													.form.form--edit
														each item in [{name:'Vkontakte'},{name:'Facebook'},{name:'Instagram'}]
															.form__wrapper
																input.form__input.form__input--sm(type='text' placeholder= item.name)

												hr.hr--article
										.clearfix
											.col-sm-2.col-xs-3
											.col-sm-6.col-xs-9
												.text-center: button.btn.btn--fz-sm.btn--sm-3.btn--purple Сохранить
