include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/table/table
include ../../app/components/tableFeatures/tableFeatures

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 4
	- var profileInfo = true

block title
	|Личный кабинет - Аукцион

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-sm Аукцион

								p.p--fz-sm Разместите свой запрос на организацию, ведение, обслуживание вашего мероприятия и получайте десятки запросов от профессионалов вашего региона.

								hr.hr--article

								p.p--md.p--indent На данный момент у вас нет ни одного лота =(

								hr.hr--article
								
								.wrapper--xs
									button.btn.btn--purple.btn--sm-2.btn--fz-sm(data-modal-own={position:'right', modal:'#lot'}) Добавить лот

