include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/table/table
include ../../app/components/tableFeatures/tableFeatures

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 3
	- var profileInfo = true

block title
	|Личный кабинет - Аукцион

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-sm Аукцион

								p.p--fz-sm.p--indent-sm С помощью кнопки
									span.icon-bookmark-wrapper
										span.icon-bookmark.icon-bookmark--purple
									|можно добавлять статьи в закладки.

								p.p--fz-sm.p--indent-sm Так вам не нужно будет искать идеи, которые вам понравились по всему сайту.

								hr.hr--article

								table.table.table--bookmarks
									tbody
										tr
											td
												.table-features__photo(style='background-image: url(img/_tmp/people-1.jpg)')
											td
												.table__title Требуется ресторан для проведения свадьбы на 150 человек
											td
												a.table__action-link(href='#')
													span x
													|Удалить

										tr
											td
												.table-features__photo(style='background-image: url(img/_tmp/people-1.jpg)')
											td
												.table__title Требуется ресторан для проведения свадьбы на 150 человек
											td
												a.table__action-link(href='#')
													span x
													|Удалить
