include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/collections/collections

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 2
	- var profileInfo = true

block title
	|Личный кабинет - Аукцион

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-sm
									span &lt; Коллекции
									| Свадьба

								p.p--fz-sm.p--indent-sm Сто тысяч свадебных фото и товаров. Выбирай интересные идеи и товары, сохраняй в коллекции.

								hr.hr--article

								.wrapper--xs
									.grid
										.grid-item
											.collections--plus
												.collections__photo
													.collections__text Добавить<br>фотографию

										each item, index in ['https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg','https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg','https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg',]
											.grid-item(class= (index % 2 == false ? 'grid-item--width2':''))
												.grid-item__img(style='background-image: url('+item+')')