include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/collections/collections

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 2
	- var profileInfo = true

block title
	|Личный кабинет - Аукцион

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-sm Коллекции

								p.p--fz-sm.p--indent-sm Создавайте колекции фото и товаров, чтобы упорядочить идеи для организации <br>свадьбы и называйте их соответственно: "декор", "свадебные платья", "прически" и др.

								hr.hr--article

								.wrapper--xs
									//- .collections
									+collections([{title:'Свадьба',count:'2 фото'},{title:'Места',count:'10 фото'},{title:'Красивые штуки для свадьбы',count:'12 фото'}])