include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/table/table
include ../../app/components/tableFeatures/tableFeatures

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 4
	- var profileInfo = true

block title
	|Личный кабинет - Аукцион

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-sm Аукцион

								p.p--fz-sm Разместите свой запрос на организацию, ведение, обслуживание вашего мероприятия и получайте десятки запросов от профессионалов вашего региона.

								hr.hr--article

								+table([{lot:'120',query:'Требуется ресторан для проведения свадьбы на 150 человек',category:'Банкетный зал',count:'15'},{lot:'120',query:'Требуется ресторан для проведения свадьбы на 150 человек',category:'Банкетный зал',text:'Работая со Sketch последние три года, я освоил ряд ключевых техник, которые значительно улучшили мой рабочий процесс. Так как я, помимо рисования, также обожаю прототипировать и кодить, мне нужен инструмент для быстрого выполнения дизайн-проектов и легкой генерации исходников. Теперь я практически не пользуюсь Photoshop и Illustrator',count:'15',features:[{name:'Максим Кусанов',stars: 3},{name:'Айрат Кусанов',stars: 5},{name:'Олег Кусанов',stars: 2},]},{lot:'5000',query:'Ресторан для проведения свадьбы на 150 человек',category:'Фотограф',count:'30'}])

								hr.hr--article
								
								.wrapper--xs
									button.btn.btn--purple.btn--sm-2.btn--fz-sm Добавить лот

