include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 0
	- var profileInfo = true

block title
	|Личный кабинет - Моя страница

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Сообщения','Коллекции','Закладки','Аукцион','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile

								.catalogue-item.catalogue-item--profile
									.clearfix
										.col-sm-2.col-xs-3
											.catalogue-item__img
												img(src='img/_tmp/people-1.jpg' alt='')

										.col-sm-8.col-xs-9
											.catalogue-item__features
												.catalogue-item__category Жених
												.catalogue-item__title 
													.catalogue-item__text Крылов Дмитрий,<br>г. Екатеринбург
													
												.catalogue-item__info
													.catalogue-item__phone +7 (900) 821-23-45
													.catalogue-item__address
														+social(sm = true)

												.catalogue-item__net
													.catalogue-item__site.bold
														|Ближайшее событие:
													.catalogue-item__social
														span.h1--pink 25.08.2016 
														|(”Мой день рождения”)

												.catalogue-item__description
													button.btn.btn--xs.btn--purple Редактировать


								.tabs
									ul.tabs__list
										each item, index in ['Органайзер','Отзывы (1)']
											li.tabs__item(class= (index == 0 ? 'tabs__item--active':''))
												span= item

									hr.hr--article.hr--indent-sm

									.tabs__content
										.tabs__content-item.tabs__content-item--active
											+organizer({title:'Мой день рождения',date:'25.08.2016',pieces:[{ico:'cake'},{ico:'microphone'},{ico:'photo'},{img:true,category:'Место',name:'Ресторан Петушки'}]})

											hr.hr--article.hr--indent-sm

											+organizer({title:'Свадьба моя и Леры',date:'25.08.2014',pieces:[{ico:'cake'},{ico:'microphone'},{ico:'photo'},{ico:'place'}]})

										.tabs__content-item
											h3.tabs__title.h1--sm Оставить отзыв
											form.comments.comments--reviews.clearfix(action='' method='post')
												.comments__photo
													img(src='img/no-photo.gif' alt='')
												.comments__form
													.comments__wrapper
														textarea.comments__textarea.comments__textarea--reviews(placeholder='Ваш комментарий')
														button.btn.btn--pink Оставить отзыв

											hr.hr--gray.hr--index-md

											.comments
												.comments__photo
													img(src='img/no-photo.gif' alt='')
												.comments__form
													.comments__wrapper
														.comments__info
															span.comments__name Анна
															time.comments__date 29 сентября 2016 в 14:37
														.comments__text Ребята знают своё дело на 5+!))) мы получили такой результат, о котором и не мечтали))) все было настолько элегантно, утонченно и идеально гармонично, что лучше и придумать нельзя))) при всем этом мы получили супер детальный подход к работе, внимание к важным для нас мелочам, достойное соотношение цена-качество и просто приятное общение:) спасибо!)))

											hr.hr--gray.hr--index-md