include ../../app/components/index/article.jade
include ../../app/components/index/promo.jade
include ../../app/components/index/people-item.jade
include ../../app/components/index/slider.jade
extends _template
block vars
	- var pageId = 0

block title
	|Главная

block content
	.container
		//- include functions here
		.wrapper
			.clearfix
				.left 
					.left__content
						.block
							h2.h1--line Профессионалы недели

							+people-item([{'slider':[{'img':'img/_tmp/people-1.jpg'},{'img':'img/_tmp/people-2.jpg'}],'category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1}])(md = 4, sm = 6)

							.text-center: button.btn.btn--lg.btn--purple Смотреть еще
				.right
					.block
						h2.h1--yellow.h1--line Мы в соц. сетях

						+social

					+article([{'date':'13 мая','title':'Как выбрать лучший ресторан для банкета?'},{'date':'18 мая','title':'Свадебное платье как искусство'},{'date':'23 мая','title':'Как выбрать лучший отель на вашу свадьбу?'}])(title = 'Новости', bold = true)

					+promo

			.clearfix
				.left
					.left__content
						+slider([{img:'slider-1.jpg',category:'Акции компании',text:'Дизайн и изготовление любой полиграфии для<br> торжеств, а также декора со скидкой 25%',caption:'Black Bird, Полиграфия и <br>детали декора г. Москва',logo:'img/_tmp/logo-1.jpg'}])(mod = 'swiper-img--block', class = 'swiper-img--slave')
						
						.block
							+people-item([{'img':'http://my-beautiful-wedding.ru/wp-content/uploads/2013/01/%D0%93%D0%BE%D0%BB%D0%BE%D1%81%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%9D%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D0%B0-%D0%B3%D0%BE%D0%B4%D0%B0-1024x536.jpg','category':'Образ невесты','name':'За и против: свадебные прически с распущенными волосами'},{'img':'http://vmeste-ryadom.ru/wp-content/uploads/2013/03/%D0%BD%D0%B5%D0%B6%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B1%D1%80%D0%B0%D0%B7-%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D1%8B-2.jpg','category':'Флористика','name':'Майские ландыши: букеты для невест и бутоньерки для женихов'},{'img':'img/_tmp/people-2.jpg','category':'Организация свадьбы','name':'Florist Gump'}])(md = 4, sm = 6, article = true)

							.text-center: button.btn.btn--lg.btn--yellow Смотреть еще
				.right
					.block
						h2.h1--yellow.h1--line VIP-услуги
						
						a(href='#')
							.text-center
								span.icon-key
									span.path1
										span.path2

							h3.text-center Организация <br>любых торжеств<br> под ключ

					+article([{'date':'Лот 001','title':'Заказ на пошив свадебного платья и костюма для молодожёнов'},{'date':'Лот 20','title':'Заказ на пошив свадебного платья и костюма для молодожёнов'},{'date':'Лот 30','title':'Заказ на изготовление праздничного торта'}])(title = 'Аукцион')


			.block
				h2.h1--line К нам присоединилсь

				+people-item([{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1},{'img':'img/_tmp/people-1.jpg','category':'Фотографы','name':'Максим Кусанов','stars':3},{'img':'img/_tmp/people-2.jpg','category':'Фотографы','name':'Иван Чебанов','stars':5},{'img':'img/_tmp/people-2.jpg','category':'Ведущие','name':'Florist Gump','stars':1}])(md = 3, sm = 4)

				.text-center: button.btn.btn--lg.btn--purple Смотреть еще