include ../../app/components/index/article.jade
include ../../app/components/index/promo.jade
include ../../app/components/index/people-item.jade
include ../../app/components/index/slider.jade
extends _template
block vars
	- var pageId = 2

block title
	|Главная

block content
	.container
		//- include functions here
		.wrapper
			.clearfix
				.left
					.left__content
						.block
							+article([{'date':'13 мая','title':'Как выбрать лучший ресторан для банкета?'},{'date':'18 мая','title':'Свадебное платье как искусство'},{'date':'23 мая','title':'Как выбрать лучший отель на вашу свадьбу?'},{'date':'10 июня','title':'Итоги обучающего семинара «Режиссура-Дура» в Мастерской TOBELOVE'},{'date':'14 июня','title':'Wedding Branding: авторский образовательный проект для свадебных специалистов от студии стильных свадеб «Для Двоих» и Маши Львовой'},{'date':'7 июня','title':'«Фотоидеи»: еще больше новых возможностей для невест и свадебных специалистов!'},{'date':'13 мая','title':'Как выбрать лучший ресторан для банкета?'},{'date':'18 мая','title':'Свадебное платье как искусство'},{'date':'23 мая','title':'Как выбрать лучший отель на вашу свадьбу?'},{'date':'10 июня','title':'Итоги обучающего семинара «Режиссура-Дура» в Мастерской TOBELOVE'},{'date':'14 июня','title':'Wedding Branding: авторский образовательный проект для свадебных специалистов от студии стильных свадеб «Для Двоих» и Маши Львовой'},{'date':'7 июня','title':'«Фотоидеи»: еще больше новых возможностей для невест и свадебных специалистов!'},{'date':'13 мая','title':'Как выбрать лучший ресторан для банкета?'},{'date':'18 мая','title':'Свадебное платье как искусство'},{'date':'23 мая','title':'Как выбрать лучший отель на вашу свадьбу?'},{'date':'10 июня','title':'Итоги обучающего семинара «Режиссура-Дура» в Мастерской TOBELOVE'},{'date':'14 июня','title':'Wedding Branding: авторский образовательный проект для свадебных специалистов от студии стильных свадеб «Для Двоих» и Маши Львовой'},{'date':'7 июня','title':'«Фотоидеи»: еще больше новых возможностей для невест и свадебных специалистов!'},{'date':'13 мая','title':'Как выбрать лучший ресторан для банкета?'},{'date':'18 мая','title':'Свадебное платье как искусство'},{'date':'23 мая','title':'Как выбрать лучший отель на вашу свадьбу?'},{'date':'10 июня','title':'Итоги обучающего семинара «Режиссура-Дура» в Мастерской TOBELOVE'},{'date':'14 июня','title':'Wedding Branding: авторский образовательный проект для свадебных специалистов от студии стильных свадеб «Для Двоих» и Маши Львовой'},{'date':'7 июня','title':'«Фотоидеи»: еще больше новых возможностей для невест и свадебных специалистов!'},])(title = 'Новости', bold = true, time = 'yellow', list= true)

							.text-center: button.btn.btn--lg.btn--purple Смотреть еще
				.right
					.block
						h2.h1--yellow.h1--line Мы в соц. сетях

						+social

					+article([{'date':'13 мая','title':'Как выбрать лучший ресторан для банкета?'},{'date':'18 мая','title':'Свадебное платье как искусство'},{'date':'23 мая','title':'Как выбрать лучший отель на вашу свадьбу?'}])(title = 'Новости', bold = true, time = 'yellow')

					+promo

					.block
						h2.h1--yellow.h1--line VIP-услуги
						
						a(href='#')
							.text-center
								span.icon-key
									span.path1
										span.path2

							h3.text-center Организация <br>любых торжеств<br> под ключ

					+article([{'date':'Лот 001','title':'Заказ на пошив свадебного платья и костюма для молодожёнов'},{'date':'Лот 20','title':'Заказ на пошив свадебного платья и костюма для молодожёнов'},{'date':'Лот 30','title':'Заказ на изготовление праздничного торта'}])(title = 'Аукцион')