include ../../app/components/index/article.jade
include ../../app/components/index/promo.jade
include ../../app/components/news/comments.jade
extends _template
block vars
	- var pageId = 2

block title
	|Главная

block content
	.container
		//- include functions here
		.wrapper
			.container-sm
				.clearfix
					.left
						.left__content
							.block.block--article.block--gray
								article.news-item
									.block
										h1.h1--lg ИТОГИ ОБУЧАЮЩЕГО СЕМИНАРА «РЕЖИССУРА-ДУРА» В МАСТЕРСКОЙ TOBELOVE
										hr.hr--article

										p.p--md Первый семинар Мастерской TOBELOVE, организованный для профессионалов и новичков свадебного бизнеса, можно считать днем рождения авторской «тубилавской» школы. Интерактивный семинар, который был задуман и проведен по всем канонам режиссуры, получился таким же ярким, уникальным, незабываемым, какими являются все проекты Мастерской.

										p Участники интерактива приехали из разных уголков России и Ближнего Зарубежья. «Режиссура-Дура» собрала всех желающих в Центре несовременного искусства «На стрелке». В течение двух дней организаторы свадебного бизнеса имели возможность узнать, из чего создается Режиссерская Свадьба. Режиссура декора и банкета, сочетание креатива и логистики, психология отношений с клиентами — освещались эти и другие темы свадебного дела.

										p.p--pink.p--sm.p--italic.p--indent Амбициозное название интерактивного семинара всего лишь новая «точка сборки» мыслей, идей, мнений, сомнений, открытий, находок, озарений.

										p «Режиссура-Дура», образ которой обыгрывался и в инсталляциях, и на экране, и в символической кукле, и в брендинге, «накормила» всех желающих разными вкусностями. Первый день семинара начался с домашней каши и зарядки. А потом всех ждал очень «вкусный» мастер-класс сценариста и коуча TOBELOVE Светланы Беловой о психологии отношений с клиентами, в команде и с самими собой. Следом был накрыт своеобразный «шведский стол»: руководитель агентства Александр Белов и продюсер Анна Гарелик разложили кейсы разных свадебных проектов. Потом к ним присоединился известный фотограф Сергей Запорожец. Получился микс творчества и системного администрирования. О секретах аппетитного банкета участникам семинара рассказала банкетный консультант Алена Мелега. «Десертом» первого дня стал авторский фильм Дениса Колерова «Рождение Вселенной».

										img(src="img/_tmp/news-1.jpg", alt="")

										p Во второй день семинара подавались особо изысканные «блюда». Топовый декоратор Мария Каменская рассказала о «богатом» и «дешевом» декоре, о декораторских решениях в рамках концептуальности свадьбы. Александр Белов пригласил всех на кухню режиссерского свадебного проекта и наглядно показал, из каких ингредиентов создается свадьба как произведение искусства. Очень «горячим» был круглый стол, в котором участвовали знаменитости свадебной индустрии! За этим столом собрались главный редактор журнала Wedding Лика Длугач, художник-постановщик Юрий Антизерский, свадебный организатор, звездная ведущая и обладательница титулов «Миссис Россия-2013» и «Первая вице-миссис Россия-2012» Анна Городжия, звездный кондитер Ренат Агзамов, концертный продюсер, президент компании «Империя Музыки» Табриз Шахиди, а также интернет-маркетолог Александр Деменьтьев. Вместе с Александром Беловым, руководителем агентства TOBELOVE, идеологом и инициатором «Режиссуры-Дуры», гости размышляли о классических и режиссерских свадьбах, об оптимизации свадебного бюджета, о главном и второстепенном в свадебном деле. На ток-шоу с ироничным названием «Пусть мудрят», которое вел известный ведущий Олег Савельев, любой желающий мог задать свой волнующий вопрос любому участнику круглого стола. А «десертным блюдом» второго дня стала читка сценария свадебного проекта «Рождение Вселенной».

										p По отзывам участников режиссерски продуманного интерактива, они получили, кроме большой порции нужных знаний, большой заряд вдохновения!

										p.p--bold Александр Белов, художественный руководитель и режиссер свадебного агентства TOBELOVE делится своими впечатлениями о первом «выходе в свет» Мастерской:

										p.p--quo.p--italic Наша главная мысль проста: никакие декорации не украсят свадебное торжество, никакие шоу не сделают его значимым, если в нем не будет души. Мы — за свадьбы с духовным смыслом, за свадьбы в единстве режиссуры! Приглашение на «Режиссуру-Дуру» — это приглашение к серьезному разговору, но в формате игры и в атмосфере самоиронии. Отсюда образ Дуры: наивность, простота, искренность, «друго-инаковость», детский взгляд на мир — все это присуще Режиссуре как способу мышления, как принципу организации пространства и действия. Нам удалось создать реальность, в которой мы все не соревнующиеся конкуренты, а соратники, единомышленники, творцы в едином деле. В деле организации свадьбы как События, меняющего людей к лучшему и открывающего новое понимание семейной жизни.

										p.p--bold Партнеры:

										p Saveliev Event, Maria Kamenskaya, Diamond Catering, Arlecchino Techno, «Арендократия», Face Control project, Maria Kirvas, Hookah place, Solaris, Центр несовременного искусства «На стрелке».

									hr.hr--article.hr--indent-md
									
									h2.h1--sm Комментарии
									
									+comments(btn = 'btn btn--lg btn--purple')

								
					.right
						+promo