include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var profileInfo = true

block title
	|Личный кабинет - Моя страница

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Аукцион','Сообщения','Платежи','Статистика','Изменить тариф','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								.block

									h1.h1--mb-xs.h1--m-null: span &lt; Вернуться назад

									hr.hr--article.hr--indent-sm

									h1.h1--m-xs.h1--m-null Изменить пароль
									
							
									.form.form--clear
										form(action='' method='post')
											each item, index in items = [{label:'Старый пароль'},{label:'Новый пароль'},{label:'Повторить пароль'}]
												.form__wrapper
													label= item.label
													input.form__input.form__input--sm(type='text' placeholder= item.name)

													if index === items.length-1
														button.btn.btn--fz-sm.btn--sm-3 Сохранить изменения

									hr.hr--article.hr--indent-sm

									h1.h1--m-xs.h1--m-null Электронный адрес

									.form.form--clear
										form(action='' method='post')
											each item, index in items = [{label:'Новый адрес'}]
												.form__wrapper
													label.form__label--black Текущий адрес
													a.form__static-field(href='mailto:krylovdima@mail.ru') krylovdima@mail.ru
												.form__wrapper
													label= item.label
													input.form__input.form__input--sm(type='text' placeholder= item.name)

													if index === items.length-1
														button.btn.btn--fz-sm.btn--sm-3 Сохранить изменения

									hr.hr--article.hr--indent-sm

									h1.h1--m-xs.h1--m-null Социальные сети
									
									.form__wrapper
										p.p--gray Нажмите на соответствующую иконку соц. сети, чтобы связать ее с вашим аккаунтом и в дальнейшем иметь возможность входа через нее в текущий профиль.

										+social()(class = 'social--gray social--null')

									hr.hr--article.hr--indent-sm

									h1.h1--m-xs.h1--m-null Оповещения по почте

									.form.form--clear
										form(action='' method='post')
											each item, index in items = [{label:'Личные сообщения',name:'lk'},{label:'Ответы на мои комментарии',name:'answers'},{label:'Отзывы',name:'reviews'},{label:'Выбор исполнителем в аукционе',name:'select'},]
												.form__checkbox.form__checkbox--sm
													input(type='checkbox' id= item.name)
													label(for= item.name)= item.label
											.form-wrapper
												button.btn.btn--fz-sm.btn--sm-3 Сохранить изменения

								.hr.hr--article.hr--indent-sm
								
								.wrapper--xs
									.text-center.p--fz-sm Если вы не нуждаетесь более в услугах профессионалов, <br>вы можете 
										a.purple.line(href='#') удалить свой аккаунт.
