include ../../app/components/index/social.jade
include ../../app/components/news/comments.jade
include ../../app/components/catalogue-item/catalogue-item.jade
include ../../app/components/catalogue-item/tabs.jade
extends _template
block vars
	- var pageId = 7

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block title
	|Главная

block content
	.container
		//- include functions here
		.wrapper
			.container-sm
				.block.block--article.block--gray
					+catalogue-item

					+tabs
								
										