include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var profileInfo = true

block title
	|Личный кабинет - Моя страница

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.block--gray.block--profile
					.block.block--slim
						.text-center
							ul.steps
								each item in [{name:'Подтвердите электронную почту'},{name:'Заполните описание'},{name:'Добавьте более 10-ти фотографий',current:true}]
									li(class='steps__item'+(item.current ? ' steps__item--active':' steps__item--checked'))
										.steps__text= item.name

						hr.hr--article.hr--indent-lg

						h1.h1--mb-sm Контактные данные

						.catalogue-item.catalogue-item--profile-edit
							form(action='' method='post')
								.clearfix
									.col-sm-2.col-xs-3
										.catalogue-item__img
											img(src='img/_tmp/item-logo.jpg' alt='')

											.btn.btn--fz-sm.btn--gray.btn--sm-3
												input(type='file')
												label Загрузить фото

											p Размер аватара должен быть не меньше 306x306 px

									.col-sm-8.col-xs-9
										.form.form--edit
											each item in [{name:'Fluerage Decor',label:'ФИО специалиста или название компании*'},{name:'+7 (950) 54514-14',label:'Телефон 1 (основной)*', plus: true},{name:'Город',label:'Город*', select:['Екатеринбург']},{name:'',label:'Адрес компании 1 (основной)', plus: true},{name:'flueragedecor.ru',label:'Сайт'}]
												.form__wrapper
													if item.plus
														.form__plus.icon-plus
													label= item.label

													if item.select
														.form__select.form__select--sm
															select
																each itemSelect in item.select
																	option= item.select
													else if item.caption
														p.form__caption= item.caption

													else
														input.form__input.form__input--sm(type='text' placeholder= item.name)

								hr.hr--article

								h1.h1--m-xs.h1--m-null О компании

								.clearfix
									.col-sm-2.col-xs-3

									.col-sm-8.col-xs-9
										.form.form--edit
											each item in [{name:'',label:'Описание*'},{name:'',label:'Предоставляемые услуги'}]
												.form__wrapper
													label= item.label
													textarea.form__textarea.form__textarea--sm()

								hr.hr--article

								h1.h1--m-xs.h1--m-null Социальные сети

								.block.clearfix
									.col-sm-2.col-xs-3

									.col-sm-8.col-xs-9
										.form.form--edit
											each item in [{name:'Vkontakte'},{name:'Facebook'},{name:'Instagram'}]
												.form__wrapper
													input.form__input.form__input--sm(type='text' placeholder= item.name)

									hr.hr--article.hr--indent-sm

							.clearfix
								.col-sm-2.col-xs-3
								.col-sm-8.col-xs-9
									.text-center: button.btn.btn--fz-sm.btn--sm-3.btn--yellow Продолжить
