include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 4
	- var profileInfo = true

block title
	|Личный кабинет - Статистика

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Аукцион','Сообщения','Платежи','Статистика','Изменить тариф','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-sm Статистика

								p.p--bold.p--indent-sm Количество посетителей:
								hr.hr--article.hr--indent-xs

								table.table--mrt
									tbody
										each item in [{name:'За день',count:'12'},{name:'За неделю',count:'20'},{name:'За месяц',count:'1200'},{name:'За год',count:'3012'}]
											tr
												td.table__text--just.table__text--pdb= item.name
												td.table__text--pink.table__text--pdb= item.count
