include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 1
	- var profileInfo = true

block title
	|Личный кабинет - Сообщения

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Аукцион','Сообщения','Платежи','Статистика','Изменить тариф','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								form(action='' method='post')
									.block
										h1.h1--line.h1--mb-xs Аукцион

										//- table.table
										//- 	tbody
										//- 		tr
										//- 			td
										//- 				.form.form--clear
										//- 					form(action='' method='post')
										//- 						.form__checkbox.form__checkbox--sm
										//- 							input(type='checkbox')
										//- 			td

										.table-wrapper
												table.table.table--head
													thead
														tr
																td
																	.form__checkbox.form__checkbox--sm
																		input(type='checkbox' id=1)
																		label(for=1)
																td(colspan=2)
																	.table__title.clearfix
																		button.btn.btn--fz-sm.btn--purple-border.btn--sm Удалить
																		.btn.btn--select.btn--select-sm.btn--gray-border.btn--fz-sm.pull-right
																			select.btn--sm
																				option Все лоты
																				option Один лот

												hr.hr--article

												table.table.table--messages
													tbody
														each item in [{query:'Требуется ресторан для проведения свадьбы на 150 человек',category:'Банкетный зал',text:'Вы и ещё 12 человек участвуют в этом аукционе',count:'15',features:[{name:'Максим Кусанов',stars: 3},{name:'Айрат Кусанов',stars: 5},{name:'Олег Кусанов',stars: 2},]},{lot:'5000',query:'Ресторан для проведения свадьбы на 150 человек',category:'Фотограф',count:'30'},{query:'Fleurage Decor',category:'Банкетный зал', success: true},{lot:'5000',query:'Ресторан для проведения свадьбы на 150 человек',category:'Фотограф',count:'30'},]
															tr
																td
																	.form__checkbox.form__checkbox--sm
																		input(type='checkbox' id=1)
																		label(for=1)
																td
																	.table__title: a(href='#')
																		span.table__lot Лот 210 
																		=item.query
																	.table__category= item.category
																	if item.text
																		.table__text= item.text

																	if item.success
																		.table__success Поздравляем!  =)  Вы выбраны исполнителем.
																td
																	time 01.11.2015

									
