include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 0
	- var profileInfo = true

block title
	|Личный кабинет - Моя страница

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Аукцион','Сообщения','Платежи','Статистика','Изменить тариф','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile

								.catalogue-item.catalogue-item--profile
									.clearfix
										.col-sm-2.col-xs-3
											.catalogue-item__img
												img(src='img/_tmp/item-logo.jpg' alt='')

										.col-sm-8.col-xs-9
											.catalogue-item__features
												.catalogue-item__category Декор свадьбы
												.catalogue-item__title 
													.catalogue-item__text Fleurage Decor<br>г. Москва
													.catalogue-item__stars
														.stars
															- for (var i = 1; i <= 5; i++)
																span.icon-star
												.catalogue-item__info
													.catalogue-item__phone +7 (900) 821-23-45
													.catalogue-item__address г. Москва, ул. Декабристов, д.2, к.2.

												.catalogue-item__net
													.catalogue-item__site
														a.link--pink(href='#') www.fdecor.ru
													.catalogue-item__social
														+social(sm = true)

												.catalogue-item__description
													button.btn.btn--fz-sm.btn--sm-3.btn--purple Редактировать
													button.btn.btn--fz-sm.btn--sm-3.btn--purple-border Посмотреть

									.catalogue-item__description Декоратор — это один из самых главных организаторов Вашего торжества, ведь именно его работа будет запечатлена на Ваших фотографиях. И, спустя много лет, глядя на фото со свадьбы, Вам не должно хотеться.
										.hide
											p Предоставляемые услуги: МЫ ЗАНИМАЕМСЯ ПОЛНЫМ ДЕКОРАТИВНЫМ ОФОРМЛЕНИЕМ МЕРОПРИЯТИЙ ЛЮБОЙ СЛОЖНОСТИ!

											p Мы можем оформить:
											ul
												each item in ['свадьбу','корпоратив','юбилей или день рождения','детский праздник','девичник/мальчишник']
													li= item

											p Мы работаем:
											ul
												each item in ['профессионально (полное сопровождение проекта: личный менеджер проекта,дизайн-проект, эскизы, макеты, смета и проч.)','качественно (опыт более 4 лет)','быстро (на связи 24 часа в сутки, выездной менеджер, офис в пределах ТТК)','экономично (оптимизация затрат в рамках бюджета клиента)']
													li= item

											p В своей работе мы используем как живые, так и искусственные цветы, имеем возможность изготовления декораций специально для Вашего мероприятия, разрабатываем дизайн-проекты, концепции и предоставляем Вам макеты. м.Отрадное, м.Кузнецкий мост

											table.table-features
												tbody
													tr
														td Средний чек:
														td.table-features__price 50 000 руб.

													tr
														td Зона оформления:
														td Зал банкета, Столы и стулья на банкете, Место бракосочетания, Транспорт, Дом невесты, Фотосессия

													tr
														td Тип оформления:
														td Цветами, Шарами, Тканью, Свечами, Другое

													tr
														td Заказы под ключ:
														td: span.icon-yes

										span.show-hide(data-text={show:'Показать описание',hide:'Свернуть описание'}): span.show-hide__line Показать описание


								.tabs
									ul.tabs__list
										each item, index in ['Фото (10)','Цены','Отзывы (3)']
											li.tabs__item(class= (index == 0 ? 'tabs__item--active':''))
												span= item

									hr.hr--article.hr--indent-sm

									.tabs__content
										.tabs__content-item.tabs__content-item--active
											.grid
												each item, index in ['https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg','https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg','https://www.theknot.com/assets/topic_pages/wedding-vows-ceremony-436d776651f3bff249f4c715c70fcc63.jpg','http://www.weddingthingz.com/wp-content/uploads/2016/06/couple.jpg','http://www.curzonhall.com.au/wp-content/uploads/sites/4/2015/01/curzon-hall-wedding-gal7.jpg',]
													.grid-item(class= (index % 2 == true ? 'grid-item--width2':''))
														.grid-item__img(style='background-image: url('+item+')')

										.tabs__content-item
											ul.tabs__prices
												each item in [{name:'Декор'},{name:'Свадьба'},{name:'Украшение мероприятия'}]
													li.tabs__prices-item
														.tabs__prices-text= item.name
														
														ul.tabs__inner-list
															each itemInner in [{name:'Пригласительные',text:'Разработка оригинального дизайна пригласительных для гостей мероприятия.',price:'от 10 000 руб.'},{name:'Свадебный букет',text:'Оригинальный дизайн букета.',price:'от 7 000 руб.'}]
																li
																	.tabs__inner-title= itemInner.name
																	.tabs__inner-text= itemInner.text
																	.tabs__inner-price= itemInner.price

										.tabs__content-item
											h3.tabs__title.h1--sm Оставить отзыв
											form.comments.comments--reviews.clearfix(action='' method='post')
												.comments__photo
													img(src='img/no-photo.gif' alt='')
												.comments__form
													.comments__wrapper
														textarea.comments__textarea.comments__textarea--reviews(placeholder='Ваш комментарий')
														button.btn.btn--pink Оставить отзыв

											hr.hr--gray.hr--index-md

											.comments
												.comments__photo
													img(src='img/no-photo.gif' alt='')
												.comments__form
													.comments__wrapper
														.comments__info
															span.comments__name Анна
															time.comments__date 29 сентября 2016 в 14:37
														.comments__text Ребята знают своё дело на 5+!))) мы получили такой результат, о котором и не мечтали))) все было настолько элегантно, утонченно и идеально гармонично, что лучше и придумать нельзя))) при всем этом мы получили супер детальный подход к работе, внимание к важным для нас мелочам, достойное соотношение цена-качество и просто приятное общение:) спасибо!)))

											hr.hr--gray.hr--index-md