include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/table/table
include ../../app/components/tableFeatures/tableFeatures

extends _template
block vars
	- var pageId = 12
	- var pageIdSub = 3
	- var profileInfo = true

block title
	|Личный кабинет - Аукцион

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Аукцион','Сообщения','Платежи','Статистика','Изменить тариф','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								h1.h1--line.h1--mb-xs Платежи

								.table-wrapper
									table.table
										thead.table__payment
											tr
												td Дата
												td Тариф
												td Сумма

										tbody.table__payment
											each item in [{date:'12.10.2016',rate:'Профессионал',total:'800'},{date:'12.08.2016',rate:'Премиум',total:'1000'},{date:'23.07.2016',rate:'Профессионал',total:'800'},{date:'12.12.2016',rate:'Премиум',total:'1000'}]
												tr
													td.table__date= item.date
													td.table__rate= item.rate

													td.table__total= item.total

