include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer

extends _template
block vars
	- var pageId = 12
	- var profileInfo = true

block title
	|Личный кабинет - Моя страница

block scripts
	script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Моя страница','Аукцион','Сообщения','Платежи','Статистика','Изменить тариф','Настройки'])

								hr.hr--article
								+profileMenu(['Поддержка'])(mrb)

							+social(['support','support-call'])(sm, mrrLg)

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								.block

									h1.h1--mb-xs.h1--m-null: span &lt; Вернуться назад

									hr.hr--article.hr--indent-sm

									h1.h1--m-xs.h1--m-null Редактирование данных

									.catalogue-item.catalogue-item--profile-edit
										.clearfix
											.col-sm-2.col-xs-3
												.catalogue-item__img
													img(src='img/_tmp/item-logo.jpg' alt='')

													.btn.btn--fz-sm.btn--gray.btn--sm-3
														input(type='file')
														label Загрузить фото

													p Размер аватара должен быть не меньше 306x306 px

											.col-sm-6.col-xs-9
												.form.form--edit
													form(action='' method='post')
														each item in [{name:'Fluerage Decor',label:'ФИО специалиста или название компании*'},{name:'+7 (950) 54514-14',label:'Телефон 1 (основной)*', plus: true},{name:'Город',label:'Город*', select:['Екатеринбург']},{name:'',label:'Адрес компании 1 (основной)', plus: true},{name:'flueragedecor.ru',label:'Сайт'}]
															.form__wrapper
																if item.plus
																	.form__plus.icon-plus
																label= item.label

																if item.select
																	.form__select.form__select--sm
																		select
																			each itemSelect in item.select
																				option= item.select
																else if item.caption
																	p.form__caption= item.caption

																else
																	input.form__input.form__input--sm(type='text' value= item.name)

										hr.hr--article

										h1.h1--m-xs.h1--m-null О компании

										.clearfix
											.col-sm-2.col-xs-3

											.col-sm-6.col-xs-9
												.form.form--edit
													form(action='' method='post')
														each item in [{name:'',label:'Описание*'},{name:'',label:'Предоставляемые услуги'}]
															.form__wrapper
																label= item.label
																textarea.form__textarea.form__textarea--sm()

										hr.hr--article

										h1.h1--m-xs.h1--m-null Социальные сети

										.clearfix
											.col-sm-2.col-xs-3

											.col-sm-6.col-xs-9
												.form.form--edit
													form(action='' method='post')
														each item in [{name:'Vkontakte'},{name:'Facebook'},{name:'Instagram'}]
															.form__wrapper
																input.form__input.form__input--sm(type='text' placeholder= item.name)

										hr.hr--article

								.text-center: button.btn.btn--fz-sm.btn--sm-3.btn--purple Сохранить
