include ../../app/components/rate/rate.jade

extends _template
block vars
	- var pageId = 11

block title
	|Тарифные планы

block content
	.container
		.block
			.wrapper
				h2.h1--line Тарифные планы

				.wrapper--sm
					.text-center
						.btn-group.btn-group--border
							span.btn.btn--fz-lg.btn--md.btn--purple Месяц
							span.btn.btn--fz-lg.btn--md.btn--color-black.btn-group Год (экономия 20%)

						.wrapper--lg
							.clearfix
								.row
									.col-md-4.col-sm-6
										+rate({title:'Начальный',price:'Бесплатно',text:'Вы можете опробавать наш сервис бесплатно первые 2 недели, в которые вам будут доступны все функции Premium аккаунта',btnText:'Зарегистрироваться'})(color = 'yellow')

									.col-md-4.col-sm-6
										+rate({title:'Профессионал',price:'700 руб/месяц',text:'Оптимальное решение для стабильного потока праздничных заказов',btnText:'Купить', list:['Общение с пользователями','Место по рейтингу компании','Ещё пункт','Ещё что-то нужное','И ещё одного будет достаточно']})(color = 'pink')

									.col-md-4.col-sm-12
										+rate({title:'Премиум',price:'1000 руб/месяц',text:'Максимальные возможности для продвижения себя и своей компании',btnText:'Купить'})(color = 'pink')
