include ../../app/components/profile-menu/profile-menu
include ../../app/components/index/social
include ../../app/components/catalogue-item/tabs
include ../../app/components/organizer/organizer
include ../../app/components/tabs-rules/tabs-rules

extends _template
block vars
	- var pageId = 15
	- var pageIdSub = 0
	- var profileInfo = true

block title
	|Помощь и правила

block content
	.container
		.block
			.wrapper
				.clearfix
					.right.right--sm.right--switch
						.block--gray.block--profile
							nav
								+profileMenu(['Помощь','Правила'])

					.left
						.left__content.left__content--sm.left__content--switch
							.block--gray.block--profile
								.block
									h1.h1--line.h1--mb-sm Помощь

									h2.h1--md-2.h1--mb-sm.h1--black.h1--m-xs Регистрация в каталоге

									hr.hr--article

									.block
										+tabsRules([{title:'Что нужно для того, зарегистрироваться в каталоге компаний?',text:'Тогда нужно выйти из кабинета пользователя, нажав кнопку "Выйти" в правом верхнем углу просмотра профиля.'},{title:'Не могу зарегистрироваться как профи на сайте, выдает ошибку 404. Что делать?',text:'Скорее всего Вы вошли в личный кабинет как пользователь. Тогда нужно выйти из кабинета пользователя, нажав кнопку "Выйти" в правом верхнем углу просмотра профиля. Затем зарегистрируйтесь на странице http://facebanket.ru/specialist/registration/. Если Вы хотите зарегистрировать страницу компании на тот же email, что пользователя, тогда пользователя нужно предварительно удалить: вкладка "Настройки"-> "Удалить страницу".'},{title:'Не пришло письмо о регистрации на почту, что делать?',text:'Если Вы хотите зарегистрировать страницу компании на тот же email, что пользователя', list:['заполнить форму на странице http://facebanket.ru/specialist/registration/,','подтвердить электронную почту в письме, которое придет на почту после регистрации, перейти по ссылке в письме - Для завершения регистрации пройдите по ссылке.']}])

									h2.h1--md-2.h1--mb-sm.h1--black.h1--m-xs Заполнение основных данных

									hr.hr--article

									.block
										+tabsRules([{title:'Что нужно для того, зарегистрироваться в каталоге компаний?',text:'Тогда нужно выйти из кабинета пользователя, нажав кнопку "Выйти" в правом верхнем углу просмотра профиля.'},{title:'Не могу зарегистрироваться как профи на сайте, выдает ошибку 404. Что делать?',text:'Скорее всего Вы вошли в личный кабинет как пользователь. Тогда нужно выйти из кабинета пользователя, нажав кнопку "Выйти" в правом верхнем углу просмотра профиля. Затем зарегистрируйтесь на странице http://facebanket.ru/specialist/registration/. Если Вы хотите зарегистрировать страницу компании на тот же email, что пользователя, тогда пользователя нужно предварительно удалить: вкладка "Настройки"-> "Удалить страницу".'},{title:'Не пришло письмо о регистрации на почту, что делать?',text:'Если Вы хотите зарегистрировать страницу компании на тот же email, что пользователя', list:['заполнить форму на странице http://facebanket.ru/specialist/registration/,','подтвердить электронную почту в письме, которое придет на почту после регистрации, перейти по ссылке в письме - Для завершения регистрации пройдите по ссылке.']}])