include ../../app/components/catalogue/menu-features.jade
include ../../app/components/form/form.jade
extends _template
block vars
	- var pageId = 10

block title
	|Регистрация

block content
	.menu-features.menu-features--yellow.menu-features--white.menu-features--sm
		.container Необходимо зарегистрировать страницу компании и отправить на модерацию, <br>затем вы сможете оплатить тарифный план "Профессионал" в своём личном кабинете.

	.container
		.wrapper--sm
			h2.h1--line Регистрация в каталоге

		.wrapper
			.block
				+form